<!doctype html>
<html class='no-js full-height' lang='{{ request.locale.iso_code }}'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width,initial-scale=1'>
		<meta name='theme-color' content=''>
		<link rel='canonical' href='{{ canonical_url }}'>
		<link rel='preconnect' href='https://cdn.shopify.com' crossorigin>

		{%- if settings.favicon != blank -%}
			<link
				rel='icon'
				type='image/png'
				href='{{ settings.favicon | image_url: width: 32, height: 32 }}'
			>
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>
		{%- endunless -%}

		<title>{{ shop.name }}</title>

		<meta name='description' content='{{ page_description | escape }}'>

		{% render 'meta-tags' %}

		<script src='{{ 'constants.js' | asset_url }}' defer='defer'></script>
		<script src='{{ 'pubsub.js' | asset_url }}' defer='defer'></script>
		<script src='{{ 'global.js' | asset_url }}' defer='defer'></script>
		{%- if settings.quickview_show
			or settings.add_to_cart_enabled
			or settings.show_on_mobile
		-%}
			<script src='{{ 'quick-add.js' | asset_url }}' defer='defer'></script>
			<script src='{{ 'product-form.js' | asset_url }}' defer='defer'></script>
		{% endif %}

		<script>
			function calculateScrollbarWidth() {
				const scrollbarWidth =
					window.innerWidth - document.documentElement.clientWidth
				document.documentElement.style.setProperty(
					'--scrollbar-width',
					scrollbarWidth + 'px'
				)
			}

			function calculateVh() {
				let vh = window.innerHeight * 0.01
				document.documentElement.style.setProperty('--vh', `${vh}px`)
			}

			window.addEventListener('load', calculateScrollbarWidth)
			window.addEventListener('resize', calculateScrollbarWidth)

			window.addEventListener('load', calculateVh)
			window.addEventListener('resize', calculateVh)
		</script>

		{{ content_for_header }}

		{%- liquid
			assign body_font_light = settings.type_body_font | font_modify: 'weight', '300'
			assign body_font_regular = settings.type_body_font | font_modify: 'weight', '400'
			assign body_font_medium = settings.type_body_font | font_modify: 'weight', '500'
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
			assign heading_font_regular = settings.type_header_font | font_modify: 'weight', '400'
			assign heading_font_medium = settings.type_header_font | font_modify: 'weight', '500'
			assign section_heading_font_regular = settings.type_section_header_font | font_modify: 'weight', '400'
			assign section_heading_font_medium = settings.type_section_header_font | font_modify: 'weight', '500'
			assign heading_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
		%}

		{% style %}
			{{ settings.type_body_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_section_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_subtitle_font | font_face: font_display: 'swap' }}
			{{ settings.type_button_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font_card | font_face: font_display: 'swap' }}
			{{ settings.type_text_font_card | font_face: font_display: 'swap' }}
			{{ settings.type_header_menu_font | font_face: font_display: 'swap' }}
			{{ settings.type_footer_menu_font | font_face: font_display: 'swap' }}
			{{ settings.type_popups_heading_font | font_face: font_display: 'swap' }}
			{{ settings.type_popups_text_font | font_face: font_display: 'swap' }}
			{{ body_font_light | font_face: font_display: 'swap' }}
			{{ body_font_regular | font_face: font_display: 'swap' }}
			{{ body_font_medium | font_face: font_display: 'swap' }}
			{{ body_font_bold | font_face: font_display: 'swap' }}
			{{ body_font_italic | font_face: font_display: 'swap' }}
			{{ heading_font_regular | font_face: font_display: 'swap' }}
			{{ heading_font_medium | font_face: font_display: 'swap' }}
			{{ section_heading_font_regular | font_face: font_display: 'swap' }}
			{{ section_heading_font_medium | font_face: font_display: 'swap' }}
			{{ heading_font_italic | font_face: font_display: 'swap' }}
			{{ body_font_bold_italic | font_face: font_display: 'swap' }}

			{% for scheme in settings.color_schemes -%}
			  {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
			  {% if forloop.index == 1 -%}
			    :root,
			  {%- endif %}
			  
				{% if forloop.index == 1 -%}
					:root,
				{%- endif %}
				.color-{{ scheme.id }} {
					--color-background: {{ scheme.settings.colors_background_1.red }},{{ scheme.settings.colors_background_1.green }},{{ scheme.settings.colors_background_1.blue }};
					--color-background-secondary: {{ scheme.settings.colors_background_2.red }},{{ scheme.settings.colors_background_2.green }},{{ scheme.settings.colors_background_2.blue }};
					--color-background-tertiary: {{ scheme.settings.colors_background_3.red }},{{ scheme.settings.colors_background_3.green }},{{ scheme.settings.colors_background_3.blue }};
					{% if scheme.settings.background_gradient != empty %}
						--gradient-background: {{ scheme.settings.background_gradient }};
					{% else %}
						--gradient-background: {{ scheme.settings.colors_background_1 }};
					{% endif %}
					--color-foreground: {{ scheme.settings.colors_text.red }}, {{ scheme.settings.colors_text.green }}, {{ scheme.settings.colors_text.blue }};
					--color-foreground-secondary: {{ scheme.settings.colors_secondary_text.red }}, {{ scheme.settings.colors_secondary_text.green }}, {{ scheme.settings.colors_secondary_text.blue }};
					--color-foreground-tertiary: {{ scheme.settings.colors_tertiary_text.red }}, {{ scheme.settings.colors_tertiary_text.green }}, {{ scheme.settings.colors_tertiary_text.blue }};
					--color-foreground-title: {{ scheme.settings.colors_text_title.red }}, {{ scheme.settings.colors_text_title.green }}, {{ scheme.settings.colors_text_title.blue }};

					--color-button-text: {{ scheme.settings.colors_solid_button_labels.red }}, {{ scheme.settings.colors_solid_button_labels.green }}, {{ scheme.settings.colors_solid_button_labels.blue }};
					--color-button-text-hover: {{ scheme.settings.colors_solid_button_labels_hover.red }}, {{ scheme.settings.colors_solid_button_labels_hover.green }}, {{ scheme.settings.colors_solid_button_labels_hover.blue }};
					--color-button: {{ scheme.settings.colors_solid_button_background.red }}, {{ scheme.settings.colors_solid_button_background.green }}, {{ scheme.settings.colors_solid_button_background.blue }};
					--color-button-hover: {{ scheme.settings.colors_solid_button_background_hover.red }}, {{ scheme.settings.colors_solid_button_background_hover.green }}, {{ scheme.settings.colors_solid_button_background_hover.blue }};

					--color-button-secondary-background: {{ scheme.settings.colors_secondary_button_background.red }}, {{ scheme.settings.colors_secondary_button_background.green }}, {{ scheme.settings.colors_secondary_button_background.blue }};
			    --color-button-secondary-background-hover: {{ scheme.settings.colors_secondary_button_background_hover.red }}, {{ scheme.settings.colors_secondary_button_background_hover.green }}, {{ scheme.settings.colors_secondary_button_background_hover.blue }};
					
					--color-button-secondary-text: {{ scheme.settings.colors_secondary_button_labels.red }}, {{ scheme.settings.colors_secondary_button_labels.green }}, {{ scheme.settings.colors_secondary_button_labels.blue }};
					--color-button-secondary-text-hover: {{ scheme.settings.colors_secondary_button_labels_hover.red }}, {{ scheme.settings.colors_secondary_button_labels_hover.green }}, {{ scheme.settings.colors_secondary_button_labels_hover.blue }};

					--color-button-tertiary-text: {{ scheme.settings.colors_tertiary_button_labels.red }}, {{ scheme.settings.colors_tertiary_button_labels.green }}, {{ scheme.settings.colors_tertiary_button_labels.blue }};
					--color-button-tertiary-text-hover: {{ scheme.settings.colors_tertiary_button_labels_hover.red }}, {{ scheme.settings.colors_tertiary_button_labels_hover.green }}, {{ scheme.settings.colors_tertiary_button_labels_hover.blue }};

					--color-button-tertiary-background: {{ scheme.settings.colors_tertiary_button_background.red }}, {{ scheme.settings.colors_tertiary_button_background.green }}, {{ scheme.settings.colors_tertiary_button_background.blue }};
					--color-button-tertiary-background-hover: {{ scheme.settings.colors_tertiary_button_background_hover.red }}, {{ scheme.settings.colors_tertiary_button_background_hover.green }}, {{ scheme.settings.colors_tertiary_button_background_hover.blue }};

					--color-button-tertiary-border: {{ scheme.settings.colors_tertiary_button_border.red }}, {{ scheme.settings.colors_tertiary_button_border.green }}, {{ scheme.settings.colors_tertiary_button_border.blue }};
					--color-button-tertiary-border-hover: {{ scheme.settings.colors_tertiary_button_border_hover.red }}, {{ scheme.settings.colors_tertiary_button_border_hover.green }}, {{ scheme.settings.colors_tertiary_button_border_hover.blue }};

					--color-card-price-new: {{ scheme.settings.card_new_price_color.red }}, {{ scheme.settings.card_new_price_color.green }}, {{ scheme.settings.card_new_price_color.blue }};
						--color-card-price-old: {{ scheme.settings.card_old_price_color.red }}, {{ scheme.settings.card_old_price_color.green }}, {{ scheme.settings.card_old_price_color.blue }};

					--colors_marker_background: {{ scheme.settings.colors_marker_background.red }}, {{scheme.settings.colors_marker_background.green }}, {{ scheme.settings.colors_marker_background.blue }};
					--color-accent: {{ scheme.settings.colors_accent.red }}, {{ scheme.settings.colors_accent.green }}, {{ scheme.settings.colors_accent.blue }};
					--color-overlay: {{ scheme.settings.colors_background_overlay.red }}, {{ scheme.settings.colors_background_overlay.green }}, {{ scheme.settings.colors_background_overlay.blue }};
					--color-border-input: {{ scheme.settings.colors_input_border.red }}, {{ scheme.settings.colors_input_border.green }}, {{ scheme.settings.colors_input_border.blue }};
					--color-border-input-hover: {{ scheme.settings.colors_input_hover_border.red }}, {{ scheme.settings.colors_input_hover_border.green }}, {{ scheme.settings.colors_input_hover_border.blue }};
					--color-background-input: {{ scheme.settings.colors_input_background.red }}, {{ scheme.settings.colors_input_background.green }}, {{ scheme.settings.colors_input_background.blue }};
					--color-background-input-hover: {{ scheme.settings.colors_input_hover_background.red }}, {{ scheme.settings.colors_input_hover_background.green }}, {{ scheme.settings.colors_input_hover_background.blue }};
					--color-border: {{ scheme.settings.color_border.red }}, {{ scheme.settings.color_border.green }}, {{ scheme.settings.color_border.blue }};
					--color-badge-background: {{ scheme.settings.colors_badge_background.red }}, {{ scheme.settings.colors_badge_background.green }}, {{ scheme.settings.colors_badge_background.blue }};
					--color-badge-text: {{ scheme.settings.colors_badge_labels.red }}, {{ scheme.settings.colors_badge_labels.green }}, {{ scheme.settings.colors_badge_labels.blue }};
				}
			{% endfor %}

			{{ scheme_classes | prepend: 'body' }} {
			  color: rgba(var(--color-foreground));
			  background-color: rgb(var(--color-background));
			}

			:root {
			  --announcement-height: 0px;
			  --header-height: 0px;
			  --breadcrumbs-height: 0px;
			  --scrollbar-width: 0px;
			  --vh: 1vh;

			  --spaced-section: 5rem;

			  --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
			  --font-body-style: {{ settings.type_body_font.style }};
			  --font-body-weight: {{ settings.type_body_font.weight }};

			  --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
			  --font-body-line-height: {{ settings.type_body_line_height }};
			  --font-body-letter-spacing: {{ settings.type_body_letter_spacing }}em;

			  --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
			  --font-heading-style: {{ settings.type_header_font.style }};
			  --font-heading-weight: {{ settings.type_header_font.weight }};
			  --font-heading-letter-spacing: {{ settings.type_header_letter_spacing }}em;
			  --font-heading-line-height: {{ settings.type_header_line_height }};
			  --font-heading-text-transform: {{ settings.type_header_text_transform }};

			  --font-subtitle-family: {{ settings.type_subtitle_font.family }}, {{ settings.type_subtitle_font.fallback_families }};
			  --font-subtitle-style: {{ settings.type_subtitle_font.style }};
			  --font-subtitle-weight: {{ settings.type_subtitle_font.weight }};
			  --font-subtitle-text-transform: {{ settings.subtitle_text_transform }};
			  --font-subtitle-scale: {{ settings.subtitle_scale | divided_by: 100.0 }};

			  --font-heading-h1-scale: {{ settings.heading_h1_scale | divided_by: 100.0 }};
			  --font-heading-h2-scale: {{ settings.heading_h2_scale | divided_by: 100.0 }};
			  --font-heading-h3-scale: {{ settings.heading_h3_scale | divided_by: 100.0 }};
			  --font-heading-h4-scale: {{ settings.heading_h4_scale | divided_by: 100.0 }};
			  --font-heading-h5-scale: {{ settings.heading_h5_scale | divided_by: 100.0 }};
				--font-heading-h6-scale: {{ settings.heading_h6_scale | divided_by: 100.0 }};

			  --font-heading-card-family: {{ settings.type_header_font_card.family }}, {{ settings.type_header_font_card.fallback_families }};
			  --font-heading-card-style: {{ settings.type_header_font_card.style }};
			  --font-heading-card-weight: {{ settings.type_header_font_card.weight }};
			  --font-text-card-family: {{ settings.type_text_font_card.family }}, {{ settings.type_text_font_card.fallback_families }};
			  --font-text-card-style: {{ settings.type_text_font_card.style }};
			  --font-text-card-weight: {{ settings.type_text_font_card.weight }};

			  --font-heading-card-scale: {{ settings.heading_scale_card | divided_by: 100.0 }};
			  --font-text-card-scale: {{ settings.text_scale_card | divided_by: 100.0 }};

			  --font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			  --font-button-style: {{ settings.type_button_font.style }};
			  --font-button-weight: {{ settings.type_button_font.weight }};
			  --font-button-text-transform: {{ settings.button_text_transform }};

			  --font-button-letter-spacing: 0.03em;
			  --font-subtitle-letter-spacing: {{ settings.subtitle_letter_spacing }}em;
			  --font-badge-letter-spacing: -0.02em;
			  --font-menu-letter-spacing: 0.03em;
			  --font-big-menu-letter-spacing: -0.04em;

			  --font-header-menu-family: {{ settings.type_header_menu_font.family }}, {{ settings.type_header_menu_font.fallback_families }};
			  --font-header-menu-style: {{ settings.type_header_menu_font.style }};
			  --font-header-menu-weight: {{ settings.type_header_menu_font.weight }};
			  --font-header-menu-text-transform: {{ settings.header_menu_text_transform }};

			  --font-footer-menu-family: {{ settings.type_footer_menu_font.family }}, {{ settings.type_footer_menu_font.fallback_families }};
			  --font-footer-menu-style: {{ settings.type_footer_menu_font.style }};
			  --font-footer-menu-weight: {{ settings.type_footer_menu_font.weight }};
			  --font-footer-link-size: {{ settings.link_size_footer }}px;
			  --font-footer-bottom-link-size: {{ settings.link_size_footer_bottom }}px;

			  --font-popups-heading-family: {{ settings.type_popups_heading_font.family }}, {{ settings.type_popups_heading_font.fallback_families }};
			  --font-popups-heading-style: {{ settings.type_popups_heading_font.style }};
			  --font-popups-heading-weight: {{ settings.type_popups_heading_font.weight }};
			  --font-popups-text-family: {{ settings.type_popups_text_font.family }}, {{ settings.type_popups_text_font.fallback_families }};
			  --font-popups-text-style: {{ settings.type_popups_text_font.style }};
			  --font-popups-text-weight: {{ settings.type_popups_text_font.weight }};
			  --font-popup-heading-scale: {{ settings.popup_heading_scale | divided_by: 100.0 }};
			  --font-popup-desc-scale: {{ settings.popup_desc_scale | divided_by: 100.0 }};
			  --font-popup-text-scale: {{ settings.popup_text_scale | divided_by: 100.0 }};
			  --font-notification-heading-scale: {{ settings.notification_heading_scale | divided_by: 100.0 }};
			  --font-notification-text-scale: {{ settings.notification_text_scale | divided_by: 100.0 }};

			  --border-radius-main: {{ settings.main_border_radius }}px;
			  --border-radius-button: {{ settings.button_border_radius }}px;
			  --border-radius-badge: {{ settings.badge_border_radius }}px;
			  --payment-terms-background-color: {{ settings.colors_background_1 }};
			}

			@media screen and (min-width: 990px) {
			  :root {
			   --spaced-section: 16rem;
			  }
			}

			*,
			*::before,
			*::after {
			box-sizing: inherit;
			}

			html {
			  box-sizing: border-box;
			  font-size: 10px;
			  height: 100%;
			}

			body {
			  position: relative;
			  display: flex;
			  flex-direction: column;
			  min-height: 100%;
			  margin: 0;
			 	font-size: calc(var(--font-body-scale) * 1rem);
			  line-height: var(--font-body-line-height);
			  font-family: var(--font-body-family);
			  font-style: var(--font-body-style);
			  font-weight: var(--font-body-weight);
			  letter-spacing: calc(var(--font-body-letter-spacing) * 0.1);
			  overflow-x: hidden;
			}



			#MainContent {
			  flex-grow: 1;
			}
		{% endstyle %}

		{% render 'color-scheme-vars' %}
		{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}

		{%- unless settings.type_body_font.system? -%}
			<link
				rel='preload'
				as='font'
				href='{{ settings.type_body_font | font_url }}'
				type='font/woff2'
				crossorigin
			>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link
				rel='preload'
				as='font'
				href='{{ settings.type_header_font | font_url }}'
				type='font/woff2'
				crossorigin
			>
		{%- endunless -%}

		{{ 'section-password.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}
		{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

		<script>
			document.documentElement.className =
				document.documentElement.className.replace('no-js', 'js')
		</script>
		<script src='{{ 'jquery-3.6.0.js' | asset_url }}' defer='defer'></script>
		<script
			src='{{ 'swiper-bundle.min.js' | asset_url }}'
			defer='defer'
		></script>
		<script src='{{ 'popup.js' | asset_url }}' defer='defer'></script>
		<script src='{{ 'details-modal.js' | asset_url }}' defer='defer'></script>
		<script src='{{ 'password-modal.js' | asset_url }}' defer='defer'></script>
	</head>

	<body class='password'>
		<a class='skip-to-content-link button visually-hidden' href='#MainContent'>
			{{ 'accessibility.skip_to_text' | t }}
		</a>

		{% section 'main-password-header' %}

		<main id='MainContent' class='password-main background'>
			{{ content_for_layout }}
		</main>
		<footer>
			{% section 'main-password-footer' %}
		</footer>
	</body>
</html>
