{{ 'section-card-list.css' | asset_url | stylesheet_tag }}
<script src='{{ 'card-list.js' | asset_url }}' defer='defer'></script>

{% liquid
	assign columns_per_row = section.settings.columns_per_row
	assign slideshow_speed = section.settings.slideshow_speed
%}

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

<div
	class='card-list-section card-list'
	data-id='shopify-section-{{ section.id }}'
	data-speed='{{ slideshow_speed }}'
	id='shopify-section-{{ section.id }}'
>
  <div class='container'>
    {% render 'section-header',
      section_heading: section.settings.section_heading,
      section_subheading: section.settings.subheading,
      section_heading_size: section.settings.section_heading_size,
      section_heading_tag: section.settings.heading_tag,
      dot: section.settings.dot,
      line: section.settings.line
    %}
    <div class='{% if section.settings.swipe_on_mobile %}swiper card-list__swiper{% endif %}'>
      {% if section.settings.swipe_on_mobile %}
				{% if section.settings.show_arrows %}
					<button class='swiper-button swiper-button-prev swiper-button-disabled'>
						<span>{% render 'icon-arrow' %}</span>
					</button>
					<button class='swiper-button swiper-button-next'>
						<span>{% render 'icon-arrow' %}</span>
					</button>
				{% else %}
					<div class='card-list-pagination swiper-pagination'></div>
				{% endif %}
			{% endif %}

      <ul class='card-list__list card-list__list--{{ columns_per_row }} {% if section.settings.swipe_on_mobile %}swiper-wrapper{% endif %} columns_mobile--{{section.settings.columns_mobile}}'>
        {% for block in section.blocks %}
          {%- if block.settings.image -%}
            {% liquid assign adapt_height = 1 | divided_by: block.settings.image.aspect_ratio | times: 100 %}
          {%- else -%}
            {% liquid assign adapt_height = 58 %}
          {%- endif %}
          {% style %}
            #shopify-section-{{ section.id }} [data-id="{{ block.id }}"].card-list__item  {
              {% if section.settings.image_ratio == 'adapt' %}
                --aspect-ratio: {{adapt_height}};
              {% else %}
                --aspect-ratio: {{ section.settings.image_ratio }};
              {% endif %}
            }
          {% endstyle %}

          <li
            class='card-list__item {% if section.settings.text-always-visible == true %} text-always-visible  {% endif %}  {% if section.settings.image_ratio != 'adapt' %} item_aspect_ratio {% endif %} {% if block.settings.text != blank %} card-list__item_active {% endif %} {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}'
            data-id='{{ block.id }}'
            data-text-always-visible='{{ section.settings.text-always-visible }}'
          >
            <div class='card-list__item_img {% if block.settings.text != blank %} card-list__item_img_active {% endif %} '>
              {%- if block.settings.image != blank -%}
                {%- assign widths = '360, 535, 720, 940, 1070, 1200, 1500, 1780, 2000, 2400, 2800' -%}
                {%- capture sizes -%}
                  (min-width: 1100px) calc((100vw - 128px)), calc((100vw - 40px))
                {%- endcapture -%}
                {{
                  block.settings.image
                  | image_url: width: block.settings.image.width
                  | image_tag: loading: 'lazy', sizes: sizes, widths: widths
                }}
              {%- else -%}
                {% assign card_index = forloop.index | modulo: 3 | plus: 1 %}
                {{
                  'hero-apparel-'
                  | append: card_index
                  | placeholder_svg_tag: 'placeholder-svg'
                }}
              {% endif %}
              {%- if block.settings.badge != blank -%}
                <span class='card-list__badge badge--{{ block.settings.badge_style }}'>
                  {{ block.settings.badge }}
                </span>
              {%- endif -%}
            </div>

            {%- if block.settings.text != blank or block.settings.subheading != blank -%}
              <div class='card-list__text {% if section.settings.text-number-visible == true %}number-visible{% endif %}'>
                <div>
                  {% assign subheading_tag = section.settings.subheading_tag %}
                  {%- if block.settings.subheading != blank -%}
                    <{{ subheading_tag }} class='h4'>
                      {{ block.settings.subheading }}
                    </{{ subheading_tag }}>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <p>{{ block.settings.text }}</p>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "t:sections.card-list.name",
	"class": "card-list-section",
	"tag": "section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "text-number-visible",
			"label": "t:sections.card-list.settings.text_number_visible.default",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "text-always-visible",
			"label": "t:sections.card-list.settings.text_always_visible.default",
			"default": false
		},
		{
			"type": "header",
			"content": "t:sections.all.section-header.label"
		},
		{
			"type": "text",
			"id": "section_heading",
			"default": "t:sections.card-list.settings.heading_options.heading",
			"label": "t:sections.all.section-header.heading.label"
		},
		{
			"type": "select",
			"id": "heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h3",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.card-list.settings.heading_options.subheading",
			"label": "t:sections.all.section-header.subheading.label"
		},
		{
			"type": "checkbox",
			"id": "dot",
			"default": true,
			"label": "t:sections.all.section-header.dot.label"
		},
		{
			"type": "checkbox",
			"id": "line",
			"default": true,
			"label": "t:sections.all.section-header.line.label",
			"info": "t:sections.all.section-header.line.info"
		},
		{
			"type": "header",
			"content": "t:sections.card-list.settings.heading_1.label"
		},
		{
			"type": "select",
			"id": "subheading_tag",
			"label": "t:sections.card-list.settings.heading_tag.label",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h4"
		},
		{
			"type": "range",
			"id": "columns_per_row",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.all.columns.label",
			"info": "t:sections.all.columns.info"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"default": "3/4",
			"label": "t:sections.all.image.aspect_ratio.label",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.all.image.aspect_ratio.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.all.image.aspect_ratio.options__2.label"
				},
				{
					"value": "3/4",
					"label": "t:sections.all.image.aspect_ratio.options__3.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.all.image.aspect_ratio.options__4.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.all.image.aspect_ratio.options__5.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.all.image.aspect_ratio.options__6.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.all.image.aspect_ratio.options__7.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.mobile_options.header.content"
		},
		{
			"type": "select",
			"id": "columns_mobile",
			"default": "1",
			"label": "t:sections.all.mobile_options.columns.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.all.mobile_options.columns.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.all.mobile_options.columns.options__2.label"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "swipe_on_mobile",
			"default": false,
			"label": "t:sections.all.mobile_options.swipe.label"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"default": false,
			"label": "t:sections.all.slider_options.navigation.label",
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "card",
			"name": "t:sections.card-list.blocks.product.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.card-list.blocks.product.settings.product_img.label"
				},
				{
					"type": "text",
					"id": "badge",
					"label": "t:sections.card-list.blocks.product.settings.product_badge.label",
					"default": "Badge"
				},
				{
					"type": "select",
					"id": "badge_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.card-list.blocks.product.settings.product_badge_style.label"
				},
				{
					"type": "text",
					"id": "subheading",
					"default": "t:sections.card-list.blocks.product.settings.product_subheading.default",
					"label": "t:sections.all.section-header.subheading.label"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "t:sections.card-list.blocks.product.settings.product_descr.label",
					"default": "t:sections.card-list.blocks.product.settings.product_descr.default"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.card-list.presets.name",
			"blocks": [
				{
					"type": "card"
				},
				{
					"type": "card"
				},
				{
					"type": "card"
				}
			]
		}
	]
}
{% endschema %}
