{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
<script src='{{ 'featured-blog.js' | asset_url }}' defer='defer'></script>

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

{% liquid
	assign post_limit = section.settings.post_limit
	assign column_per_row = section.settings.columns_per_row
	assign image_ratio = section.settings.image_ratio
	assign image_ratio_first = section.settings.image_ratio_first
	assign swipe_on_mobile = section.settings.swipe_on_mobile
	assign columns_mobile = section.settings.columns_mobile

	if post_limit <= section.settings.blog.articles_count
		assign posts_exceed_limit = true
	endif
%}

<div class='blog'>
	<div class='container'>
		<div class='featured-blog-header'>
			{% render 'section-header',
				section_heading: section.settings.section_heading,
				section_subheading: section.settings.section_subheading,
				section_heading_size: section.settings.section_heading_size,
				section_heading_tag: section.settings.section_heading_tag,
				dot: section.settings.dot,
				line: section.settings.line
			%}

			{% render 'button',
				btn_label: section.settings.section_button_label,
				button_dot: section.settings.button_dot,
				btn_link: section.settings.section_button_link,
				btn_style: section.settings.section_button_style,
				add_classes: 'focus-inset'
			%}
		</div>

		<div
			class='blog__posts blog__posts--{{ section.settings.section_layout }} {% if swipe_on_mobile and post_limit > 1 and section.settings.section_layout == "column" %}swiper swiper--articles{% endif %}'
			data-columns-mobile='{{columns_mobile}}'
		>
			{%- if swipe_on_mobile
				and post_limit > 1
				and section.settings.section_layout == 'column'
			-%}
				<div class='blog__nav no-js-hidden'>
					<div class='blog__nav-pagination swiper-pagination'></div>
				</div>
			{%- endif -%}
			<div class='blog__posts-wrapper blog__posts-wrapper--{{ column_per_row }} blog__posts-wrapper--{{columns_mobile}}-mobile {% if swipe_on_mobile and post_limit > 1 and section.settings.section_layout == "column" %}swiper-wrapper{% endif %}'>
				{%- if section.settings.blog != blank
					and section.settings.blog.articles_count > 0
				-%}
					{%- for article in section.settings.blog.articles
						limit: post_limit
					-%}
						{% style %}
							{% if section.settings.section_layout == "grid" and forloop.first %}
								#shopify-section-{{ section.id }} [data-id="{{ article.id }}"].blog__post {
									{% if image_ratio_first != 'adapt' %}
										--aspect-ratio: {{ image_ratio_first }};
									{% elsif image_ratio_first == 'adapt' and article.image != blank %}
										--aspect-ratio: {{ article.image.width }}/{{ article.image.height }};
									{% endif %}
								}
							{% else %}
								#shopify-section-{{ section.id }} [data-id="{{ article.id }}"].blog__post {
									{% if image_ratio != 'adapt' %}
										--aspect-ratio: {{ image_ratio }};
									{% elsif image_ratio == 'adapt' and article.image != blank %}
										--aspect-ratio: {{ article.image.width }}/{{ article.image.height }};
									{% endif %}
								}
							{% endif %}
						{% endstyle %}
						<div
							class='blog__post article {% if swipe_on_mobile and post_limit > 1 and section.settings.section_layout == "column" %}swiper-slide{% endif %}'
							data-id='{{ article.id }}'
						>
							{% assign big_card = false %}
							{% if section.settings.section_layout == 'grid'
								and forloop.first
							%}
								{% assign big_card = true %}
							{% endif %}
							{% render 'article-card',
								blog: section.settings.blog,
								article: article,
								show_image: section.settings.show_image,
								show_tags: section.settings.show_tags,
								show_date: section.settings.show_date,
								show_author: section.settings.show_author,
								show_excerpt: section.settings.show_excerpt,
								show_count_comments: section.settings.show_count_comments,
								heading_tag: section.settings.blog_heading_tag,
								big_card: big_card
							%}
						</div>
					{%- endfor -%}
				{%- else -%}
					{% style %}
						#shopify-section-{{ section.id }} .blog__post {
							--aspect-ratio: {{ image_ratio }};
							{% if image_ratio == 'adapt' %}
								--aspect-ratio: 16/9;
							{% endif %}
						}

						{% if section.settings.section_layout == "grid" %}
							#shopify-section-{{ section.id }} .blog__post:first-of-type {
								--aspect-ratio: {{ image_ratio_first }};
								{% if image_ratio_first == 'adapt' %}
									--aspect-ratio: 16/9;
								{% endif %}
							}
						{% endif %}
					{% endstyle %}
					{% for i in (1..post_limit) %}
						<div class='blog__post article {% if swipe_on_mobile and post_limit > 1 and section.settings.section_layout == "column" %}swiper-slide{% endif %}'>
							<article class='article-card'>
								<div class='article-card__image-wrapper'>
									<div class='article-card__image'>
										{% assign blog_index = forloop.index | modulo: 3 | plus: 1 %}
                    {{
                      'blog-apparel-'
                      | append: blog_index
                      | placeholder_svg_tag: 'placeholder-svg'
                    }}
									</div>
								</div>
								<header class='article-card__header'>
									{%- if section.settings.show_date == true or section.settings.show_tags == true or section.settings.show_author == true -%}
										<div class='article-card__meta subheading'>
											{%- if section.settings.show_date == true or section.settings.show_author == true -%}
												<div class='article-card__info'>
													{%- if section.settings.show_date == true -%}
														<span class='article-card__date'>
															{{ 'sections.featured_blog.onboarding_date' | t }}
														</span>
													{%- endif -%}
													{%- if section.settings.show_author -%}
														{%- if section.settings.show_date == true -%}
															{% render 'icon-bullet' %}
														{%- endif -%}
														<div class='article-card__author'>
															<span>
																{{ 'sections.featured_blog.author_name' | t }}
															</span>
														</div>
													{%- endif -%}
												</div>
											{%- endif -%}
										</div>
									{%- endif -%}
									{% assign blog_heading_tag = section.settings.blog_heading_tag %}
									<{{ blog_heading_tag }} class='article-card__title h4'>
										{{ 'sections.featured_blog.onboarding_title' | t }}
									</{{ blog_heading_tag }}>
									{% comment %}<p class='article-card__excerpt'>
										{{ 'sections.featured_blog.onboarding_content' | t }}
									</p>{% endcomment %}
								</header>
							</article>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.featured-blog.name",
	"tag": "section",
	"class": "spaced-section section-featured-blog",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "section_layout",
			"default": "column",
			"label": "t:sections.all.section_layout.label",
			"options": [
				{
					"value": "column",
					"label": "t:sections.featured-blog.settings.post_layout.options__1.label"
				},
				{
					"value": "grid",
					"label": "t:sections.featured-blog.settings.post_layout.options__2.label"
				}
			]
		},
		{
			"type": "range",
			"id": "post_limit",
			"min": 1,
			"max": 12,
			"step": 1,
			"default": 3,
			"label": "t:sections.featured-blog.settings.post_limit.label"
		},
		{
			"type": "range",
			"id": "columns_per_row",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.all.columns.label",
			"info": "t:sections.featured-blog.settings.columns_per_row.info"
		},
		{
			"type": "blog",
			"id": "blog",
			"label": "t:sections.featured-blog.settings.blog.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.heading.header.content"
		},
		{
			"type": "text",
			"id": "section_heading",
			"default": "t:sections.featured-blog.settings.heading.default",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "select",
			"id": "section_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h2",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-blog.settings.subheading.label"
		},
		{
			"type": "text",
			"id": "section_subheading",
			"label": "t:sections.all.section-header.subheading.label"
		},
		{
			"type": "checkbox",
			"id": "dot",
			"default": false,
			"label": "t:sections.all.section-header.dot.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header_button.content"
		},
		{
			"type": "text",
			"id": "section_button_label",
			"default": "t:sections.featured-blog.settings.button_label.default",
			"label": "t:sections.all.button.button_label.label",
			"info": "t:sections.all.button.button_label.info"
		},
		{
			"type": "url",
			"id": "section_button_link",
			"label": "t:sections.all.button.button_link.label"
		},
		{
			"type": "checkbox",
			"id": "button_dot",
			"default": true,
			"label": "t:sections.all.button.button_dot.label"
		},
		{
			"type": "select",
			"id": "section_button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.button_style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.button_style.options__3.label"
				}
			],
			"default": "primary",
			"label": "t:sections.all.button.button_style.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-blog.settings.header__post-options.content"
		},
		{
			"type": "checkbox",
			"id": "show_image",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_tags",
			"default": false,
			"label": "t:sections.main-blog.settings.show_tags.label"
		},
		{
			"type": "checkbox",
			"id": "show_date",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_date.label"
		},
		{
			"type": "checkbox",
			"id": "show_author",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_author.label"
		},
		{
			"type": "checkbox",
			"id": "show_excerpt",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_excerpt.label"
		},
		{
			"type": "checkbox",
			"id": "show_count_comments",
			"default": false,
			"label": "t:sections.featured-blog.settings.show_count_comments.label",
			"info": "t:sections.featured-blog.settings.show_count_comments.info"
		},
		{
			"type": "select",
			"id": "blog_heading_tag",
			"label": "t:sections.featured-blog.settings.heading_tag.label",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h4"
		},
		{
			"type": "header",
			"content": "t:sections.all.mobile_options.header.content"
		},
		{
			"type": "select",
			"id": "columns_mobile",
			"default": "1",
			"label": "t:sections.all.mobile_options.columns.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.all.mobile_options.columns.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.all.mobile_options.columns.options__2.label"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "swipe_on_mobile",
			"default": false,
			"label": "t:sections.all.mobile_options.swipe.label",
			"info": "t:sections.featured-blog.settings.swipe_on_mobile.info"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio_first",
			"default": "4/3",
			"label": "t:sections.featured-blog.settings.image_ratio_first.label",
			"info": "t:sections.featured-blog.settings.image_ratio_first.info",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.all.image.aspect_ratio.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.all.image.aspect_ratio.options__2.label"
				},
				{
					"value": "3/4",
					"label": "t:sections.all.image.aspect_ratio.options__3.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.all.image.aspect_ratio.options__4.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.all.image.aspect_ratio.options__5.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.all.image.aspect_ratio.options__6.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.all.image.aspect_ratio.options__7.label"
				}
			]
		},
		{
			"type": "select",
			"id": "image_ratio",
			"default": "16/9",
			"label": "t:sections.all.image.aspect_ratio.label",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.all.image.aspect_ratio.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.all.image.aspect_ratio.options__2.label"
				},
				{
					"value": "3/4",
					"label": "t:sections.all.image.aspect_ratio.options__3.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.all.image.aspect_ratio.options__4.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.all.image.aspect_ratio.options__5.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.all.image.aspect_ratio.options__6.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.all.image.aspect_ratio.options__7.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.featured-blog.presets.name",
			"settings": {
				"blog": "News"
			}
		}
	]
}
{% endschema %}
