{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src='{{ 'input.js' | asset_url }}' defer='defer'></script>

{% liquid
	assign image_ratio = section.settings.image_ratio
%}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

<div class='customer login register color-background-1'>
	<div class='login__wrapper'>
		<div class='container login__container'>
			{% if settings.enable_breadcrumbs %}
				<div class='breadcrumbs-wrapper background'>
					<nav
						id='breadcrumbs'
						class='breadcrumb'
						role='navigation'
						aria-label='breadcrumbs'
					>
						<a
							href='{{ routes.root_url }}'
							title='{{ 'general.breadcrumbs.home' | t }}'
							class='focus-inset'
						>
							{{- 'general.breadcrumbs.home' | t -}}
						</a>
						{% if template contains 'page' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ page.title }}</span>
						{% elsif template == 'cart' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ 'templates.cart.cart' | t }}</span>
						{% elsif template == 'collection' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ collection.title }}</span>
						{% elsif template contains 'product' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							{% if product.collections[0] %}
								<a href='{{ product.collections[0].url }}' class='focus-inset'>
									{{- product.collections[0].title }}
								</a>
								<div class='breadcrumb__delimiter'>
									{% render 'icon-caret' %}
								</div>
							{% endif %}
							<span>{{ product.title }}</span>
						{% elsif template == 'blog' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							{% if current_tags %}
								{{ blog.title | link_to: blog.url }}
								<div class='breadcrumb__delimiter'>
									{% render 'icon-caret' %}
								</div>
								<span>{{ current_tags | join: ' + ' }}</span>
							{% else %}
								<span>{{ blog.title }}</span>
							{% endif %}
						{% elsif template == 'article' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<a
								href='{{ blog.url }}'
								title='{{ blog.title }}'
								class='focus-inset'
							>
								{{ blog.title }}
							</a>
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ page_title }}</span>
						{% elsif template == 'customers/order' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<a href='{{ routes.account_url }}' class='focus-inset'>
								{{- 'customer.account.breadcrumb' | t }}
							</a>
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ 'customer.order.title' | t: name: order.name }}</span>
						{% elsif template == 'customers/addresses' %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<a href='{{ routes.account_url }}' class='focus-inset'>
								{{- 'customer.account.breadcrumb' | t }}
							</a>
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ 'customer.addresses.title' | t }}</span>
						{% else %}
							<div class='breadcrumb__delimiter'>
								{% render 'icon-caret' %}
							</div>
							<span>{{ page_title }}</span>
						{% endif %}
					</nav>

					<script>
						const calcBreadcrumbs = () => {
							const breadcrumbs = document.querySelector('.breadcrumbs-wrapper')
							if (breadcrumbs) {
								const breadcrumbsObserver = new ResizeObserver((entries) => {
									const breadcrumbsHeight =
										breadcrumbs.getBoundingClientRect().height
									document.documentElement.style.setProperty(
										'--breadcrumbs-height',
										`${breadcrumbsHeight}px`
									)
								})
								breadcrumbsObserver.observe(breadcrumbs)
							}
						}
						calcBreadcrumbs()

						document.addEventListener('shopify:section:load', function () {
							calcBreadcrumbs()
						})
					</script>
				</div>
			{% endif %}

			<div class='forms-with-image-wrapper'>
				<div class='login__col color-background-1'>
					<div class='login__form'>
						<div class='page-header'>
							<div class='page-header__inner'>
								<h1 class='title--page login__title  {{section.settings.section_heading_size}}'>
									{{ 'customer.register.title' | t }}
								</h1>
								{% if section.settings.text != blank %}
									<div class='page-header__text richtext__content'>
										{{ section.settings.text }}
									</div>
								{% endif %}
							</div>
						</div>
						{%- form 'create_customer' -%}
							<div class='login__form-row'>
								<div class='field'>
									<input
										type='text'
										dir="ltr"
										name='customer[first_name]'
										id='RegisterForm-FirstName'
										{% if form.first_name %}
											value='{{ form.first_name }}'
										{% endif %}
										autocomplete='given-name'
										aria-required='true'
										placeholder='{{ 'customer.register.first_name_placeholder' | t }}'
										required
										{% if form.errors contains 'first_name' %}
											aria-invalid='true'
											aria-describedby='RegisterForm-first_name-error'
										{% endif %}
									>
									<label for='RegisterForm-FirstName'>
										{{- 'customer.register.first_name' | t -}}
									</label>
									{%- if form.errors contains 'first_name' -%}
										<span id='RegisterForm-first_name-error' class='form__message'>
											{{ form.errors.translated_fields.first_name | capitalize }}
											{{ form.errors.messages.first_name }}.
										</span>
									{%- endif -%}
								</div>
								<div class='field'>
									<input
										type='text'
										dir="ltr"
										name='customer[last_name]'
										id='RegisterForm-LastName'
										{% if form.last_name %}
											value='{{ form.last_name }}'
										{% endif %}
										autocomplete='family-name'
										aria-required='true'
										placeholder='{{ 'customer.register.last_name_placeholder' | t }}'
										required
										{% if form.errors contains 'last_name' %}
											aria-invalid='true'
											aria-describedby='RegisterForm-last_name-error'
										{% endif %}
									>
									<label for='RegisterForm-LastName'>
										{{- 'customer.register.last_name' | t -}}
									</label>
									{%- if form.errors contains 'last_name' -%}
										<span id='RegisterForm-first_name-error' class='form__message'>
											{{ form.errors.translated_fields.last_name | capitalize }}
											{{ form.errors.messages.last_name }}.
										</span>
									{%- endif -%}
								</div>
							</div>
							<div class='field'>
								<input
									type='email'
									dir="ltr"
									name='customer[email]'
									id='RegisterForm-email'
									{% if form.email %}
										value='{{ form.email }}'
									{% endif %}
									spellcheck='false'
									autocapitalize='off'
									autocomplete='email'
									aria-required='true'
									{% if form.errors contains 'email' %}
										aria-invalid='true'
										aria-describedby='RegisterForm-email-error'
									{% endif %}
									placeholder='example@email.com'
									required
								>
								<label for='RegisterForm-email'>
									{{- 'customer.register.email' | t -}}
								</label>
							</div>
							{%- if form.errors contains 'email' -%}
								<span id='RegisterForm-email-error' class='form__message'>
									{{ form.errors.translated_fields.email | capitalize }}
									{{ form.errors.messages.email }}.
								</span>
							{%- endif -%}
							<div class='field field--pass'>
								<div class='button-pass-visibility'>
									{% render 'icon-eye' %}
									{% render 'icon-eye-close' %}
								</div>
								<input
									type='password'
									dir="ltr"
									name='customer[password]'
									id='RegisterForm-password'
									aria-required='true'
									{% if form.errors contains 'password' %}
										aria-invalid='true'
										aria-describedby='RegisterForm-password-error'
									{% endif %}
									required
									placeholder='{{ 'customer.login_page.password_placeholder' | t }}'
								>
								<label for='RegisterForm-password'>
									{{- 'customer.register.password' | t -}}
								</label>
							</div>
							{%- if form.errors contains 'password' -%}
								<span id='RegisterForm-password-error' class='form__message'>
									{{ form.errors.translated_fields.password | capitalize }}
									{{ form.errors.messages.password }}.
								</span>
							{%- endif -%}

							{%- if form.errors contains 'form' -%}
								<span id='RegisterForm-email-error' class='form__message'>
									{{ 'customer.login_page.customer_exist' | t }}
								</span>
							{%- endif -%}

							<div class='field field--checkbox'>
								<input
									type='checkbox'
									name='terms'
									value='true'
									id='Terms'
									required
								>
								<label for='Terms'>
									<span>
										{{ 'customer.register.terms' | t }}
										<a href='{{ shop.terms_of_service.url }}' target='_blank'>
											{{- 'customer.register.terms_link' | t -}}
										</a>
									</span>
								</label>
							</div>

							<span
								id='RegisterForm-terms-error'
								class='form__message register__message-terms'
							>
								{{ 'customer.register.terms_error' | t }}
							</span>

							<div class='login__buttons login__buttons--space-between'>
								<button
									id='RegisterSubmit'
									class='button button--{{section.settings.button_style}} {% if section.settings.button_dot %}dot_active{% endif %} register__create-acc focus-inset'
									data-button-text='{{ 'customer.register.submit' | t }}'
								>
									<span>{{ 'customer.register.submit' | t }}</span>
								</button>

								<div class='login__create-acc'>
									<span>{{ 'customer.register.have_account' | t }}</span>
									<a
										href='{{ routes.account_login_url }}'
										class='button--routing focus-inset'
									>
										<span>{{ 'customer.login_page.title' | t }}</span>
										<svg
											width='6'
											height='9'
											viewBox='0 0 6 9'
											fill='none'
											xmlns='http://www.w3.org/2000/svg'
										>
											<path
											  d="M1.25 8.25L4.75 4.75L1.25 1.25"
											  stroke="currentColor"
											  stroke-width="1.3"
											  stroke-linecap="round"
											  stroke-linejoin="round" />
										</svg>
									</a>
								</div>
							</div>
						{%- endform -%}
					</div>
				</div>

				{% style %}
					#shopify-section-{{ section.id }} .login__image {
					  {% if image_ratio != 'adapt' %}
					    --aspect-ratio: {{ image_ratio }};
					  {% elsif image_ratio == 'adapt' and section.settings.image != blank %}
					    --aspect-ratio: {{ section.settings.image.aspect_ratio }};
					  {% endif %}
					}
				{% endstyle %}

				{% if section.settings.image != blank %}
					{% capture sizes %}
   					(min-width: 750px) 600px, 
   					calc(100vw - 20px)
					{% endcapture %}
					<div class='login__image {{ image_ratio }}'>
						{{
							section.settings.image.preview_image
							| image_url: width: section.settings.image.width
							| image_tag:
								loading: 'lazy',
								widths: '375, 550, 720, 940, 1100',
								sizes: sizes
						}}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<script>
	window.onload = () => {
		typeof PasswordViewer !== 'undefined' && new PasswordViewer()

		$('body').on('click', '#RegisterSubmit', function (e) {
			if ($('#Terms').is(':checked')) {
				$('#RegisterForm-terms-error').css('display', 'none')
			} else {
				$('#RegisterForm-terms-error').css('display', 'block')
				e.preventDefault()
				return false
			}
		})
	}
</script>

{% schema %}
{
	"name": "t:sections.main-register.name",
	"tag": "section",
	"class": "spaced-section login-section",
	"settings": [
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h2",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "inline_richtext",
			"id": "text",
			"default": "t:sections.main-register.blocks.settings.text.default",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"default": "16/9",
			"label": "t:sections.all.image.aspect_ratio.label",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.all.image.aspect_ratio.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.all.image.aspect_ratio.options__2.label"
				},
				{
					"value": "3/4",
					"label": "t:sections.all.image.aspect_ratio.options__3.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.all.image.aspect_ratio.options__4.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.all.image.aspect_ratio.options__5.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.all.image.aspect_ratio.options__6.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.all.image.aspect_ratio.options__7.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header_button.content"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.button_style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.button_style.options__3.label"
				}
			],
			"default": "secondary",
			"label": "t:sections.all.button.button_style.label"
		},
		{
			"type": "checkbox",
			"id": "button_dot",
			"default": false,
			"label": "t:sections.all.button.button_dot.label"
		}, 	{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	]
}
{% endschema %}
