{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.quickview_show  or settings.show_on_mobile or settings.type_color_swatch == 'custom' -%}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

{%- if settings.quickview_show or settings.show_on_mobile -%}
  <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">
  <link
    rel="preload"
    href="{{ 'quick-add.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
{%- endif -%}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by 
-%}

<div class="template-search{% if search.performed == true and search.results_count == 0 and terms != blank %} template-search--empty{% endif %}">
  <div class="template-search__header">
    <div class="container">
    <div class="page-header">
      <div class="page-header__inner">
        {% assign heading_tag = section.settings.section_heading_tag %}
        {%- if search.performed -%}
          <{{ heading_tag }} class="main-page-title page-title title--page {{ section.settings.section_heading_size }}">
            {{ 'templates.search.title' | t }}: {{ terms }}
          </{{ heading_tag }}>
        {%- else -%}
          <{{ heading_tag }} class="main-page-title page-title title--page {{ section.settings.section_heading_size }}">
            {{ 'general.search.search' | t }}
          </{{ heading_tag }}>
        {%- endif -%}
      </div>
    </div>
    <div class="template-search__search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%}
        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          <div class="search-wrapper">
        {% endif %}
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="search"
        >
          <div class="field">
            <input
              class="search__input field__input" 
              id="Search-In-Template" 
              type="search" 
              dir="ltr"
              name="q" 
              value="{{ search.terms | escape }}" 
              placeholder="{{ 'general.search.placeholder' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="visually-hidden" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
            <input name="options[prefix]" type="hidden" value="last">
            <button
              class="search__button button focus-inset"
              aria-label="{{ 'general.search.search' | t }}"
            >
              {% render 'icon-search' %}
            </button>
          </div>
          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
                {% render 'icon-spinner' %}
              </div>
            </div>
            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          <p class="search__form-text" role="status">
            {{ 'templates.search.no_results' | t: terms: search.terms }}
          </p>
        {% elsif search.performed and search.results_count > 0 %}
          <p class="search__form-text visually-hidden" role="status">{{ 'templates.search.results' | t: count: search.results_count }}</p>
        {%- endif -%}
        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          </div>
        {% endif %}
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}
    </div>
  </div>
  </div>
  {%- if search.performed -%}
    {% liquid
      assign filter_show = false
      if section.settings.enable_filtering
        for filter in search.filters
          if filter.range_max != 0 
            assign filter_show = true
          endif
        endfor
      endif  
    %}
    <div class="container">
      <div class="collection-wrapper {% if section.settings.enable_filtering == false and section.settings.enable_sorting == false %} collection-wrapper_no-facets{% endif %}{% if filter_show == false and section.settings.enable_sorting == false %} collection-wrapper_no-facets{% endif %}">
        {% if section.settings.enable_filtering == true or section.settings.enable_sorting == true %}
          <div class="products-grid__overlay"></div>
        {% endif %}
        {%- if search.filters != empty -%}
          {%- if filter_show or section.settings.enable_sorting -%}
              {% render 'facets', 
                results: search, 
                enable_filtering: filter_show,
                enable_sorting: section.settings.enable_sorting,
                filter_type: section.settings.filter_type,
                image_filter_ratio: section.settings.image_filter_ratio,
                image_filter_fit: section.settings.image_filter_fit,
                image_filter_columns: section.settings.image_filter_columns
              %}
          {%- endif -%}
        {%- endif -%}
      
        <div
          id="ProductGridContainer"
          class="products-grid{% if section.settings.enable_filtering == false or filter_show == false and section.settings.enable_sorting == false %} products-grid_no-filter{% endif %}"
        >
        {% paginate search.results by 24 %}
          {%- if search.results.size == 0 and search.filters != empty -%}
            <div class="template-search__results collection collection-product" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay">
                <div class="loading-overlay__spinner">
                  {% render 'icon-spinner' %}
                </div>
              </div>
              <div class="title-wrapper center title-wrapper-empty">
                <h2 class="title title--primary">
                  {{ 'sections.collection_template.empty_results' | t }}
                  <br>
                  {{ 'sections.collection_template.results_use_fewer_filters_html' | t: link: search_url, class: "underlined-link link" }}
                </h2>
              </div>
            </div>
          {%- else -%}
              <div class="template-search__results collection collection-product" id="product-grid" data-id="{{ section.id }}">
                <div class="loading-overlay">
                  <div class="loading-overlay__spinner">
                    {% render 'icon-spinner' %}
                  </div>
                </div>

                {% liquid
                  assign search_products = search.results | where: 'object_type', "product"
                  assign search_products_size = search_products | size
                  assign search_articles = search.results | where: 'object_type', "article"
                  assign search_articles_size = search_articles | size
                  assign search_pages = search.results | where: 'object_type', "page"
                  assign search_pages_size = search_pages | size
                %}

                {% if search_products_size != 0 %}
                    <div class="search-results__top first">
                      <h3 class="search-results__title h3">
                        {{ 'templates.search.item_count.other' | t: count: '' }}
                      </h3>
                    </div>
                    <ul class="collection-product-list 
                      collection-product-list--{{ section.settings.columns_mobile }}-mobile
                      {% if section.settings.enable_filtering %} collection-results_filters {% endif %}" role="list">
                      {%- for item in search_products -%}
                        <li class="collection-product-card template-search__item {% if settings.quickview_hover %}quickview--hover{% endif %}">
                           {% render 'product-card',
                            product_card_product: item,
                            media_size: section.settings.image_ratio,
                            media_fit: section.settings.image_fit,
                            show_secondary_image: section.settings.show_secondary_image,
                            show_vendor: section.settings.show_vendor,
                            show_desc: section.settings.show_desc,
                            show_collection_name: section.settings.show_collection,
                            section_id: section.id,
                            show_sku: section.settings.show_sku,
                            product_heading_tag: section.settings.product_heading_tag
                          %}
                        </li>
                      {%- endfor -%}
                    </ul>
                {% endif %}

                {% if search_articles_size != 0 %}
                  <div class="search-results__top {% if search_products_size == 0 %} first {% endif %}">
                    <h3 class="search-results__title h3">
                      {{ 'templates.search.article_count.other' | t: count: '' }}
                    </h3>
                  </div>
                  <ul
                    class="collection-results collection-results_articles collection-results--{{ section.settings.columns_mobile }}-mobile {% if section.settings.enable_filtering == false or filter_show == false %} collection-results_no-filter {%- endif -%}"
                    role="list"
                    style="--aspect-ratio: {{ section.settings.blog_image_ratio }};"
                  >
                    {%- for item in search_articles -%}
                      {%- case item.object_type -%}
                        {%- when 'article' -%}
                          <li class="template-search__item article">
                            {% render 'article-card',
                              article: item,
                              show_image: true,
                              show_tags: section.settings.article_show_tags,
                              show_date: section.settings.article_show_date,
                              show_author: section.settings.article_show_author,
                              show_excerpt: section.settings.article_show_desc,
                              heading_tag: section.settings.article_heading_tag
                            %}
                          </li>
                      {%- endcase -%}
                    {%- endfor -%}
                  </ul>
                {% endif %}
      
                {% if search_pages_size != 0 %}
                  <div class="search-results__top {% if search_products_size == 0 and search_articles_size == 0 %} first {% endif %}">
                    <h3 class="search-results__title h3">
                      {{ 'templates.search.page_count.other' | t: count: '' }}
                    </h3>
                  </div>
                  <ul
                    class="collection-results collection-results_pages collection-results--{{ section.settings.columns_mobile }}-mobile {% if section.settings.enable_filtering == false or filter_show == false %} collection-results_no-filter {%- endif -%}" 
                    role="list"
                    style="--aspect-ratio: {{ section.settings.page_image_ratio }};"
                  >
                    {%- for item in search_pages -%}
                      {%- case item.object_type -%}
                        {%- when 'page' -%}
                          <li
                            class="template-search__item template-search__page"
                            role="option"
                            aria-selected="false"
                          >
                            <a href="{{ item.url }}" class="card-page__wrapper">
                              <div class="card-page color-{{ section.settings.color_scheme_page }}">
                                <div class="card-page__content">
                                  <h3 class="card-page__title">
                                    {{ item.title | truncate: 50 | escape }}
                                  </h3>
                                </div>
                              </div>
                            </a>
                          </li>
                      {%- endcase -%}
                    {%- endfor -%}
                  </ul>
                {% endif %}
                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate %}
                {%- endif -%}
              </div>
          {%- endif -%}
        {% endpaginate %}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section-search",
  "settings": [
    {
			"type": "select",
			"id": "section_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h1"
		},
    {
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "square",
			"label": "t:sections.all.image.ratio.label"
		},
    {
      "type": "select",
      "id": "image_fit",
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image.fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image.fit.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.all.card.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.all.card.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.all.sku.show_sku"
    },
    {
			"type": "checkbox",
			"id": "show_collection",
			"default": false,
			"label": "t:sections.all.product_card.show_colection_name.label"
		},
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.all.card.show_desc.label",
      "info": "t:sections.all.card.show_desc.info"
    },
    {
			"type": "select",
			"id": "product_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h3"
		},
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "blog_image_ratio",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.image.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.image.aspect_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.image.aspect_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.image.aspect_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.image.aspect_ratio.options__5.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.image.aspect_ratio.options__6.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.options__7.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.image.aspect_ratio.options__8.label"
        }
      ],
      "default": "16/9",
      "label": "t:sections.all.card.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_tags",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_desc",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_desc.label"
    },
    {
			"type": "select",
			"id": "article_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h4"
		},
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__3.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_page",
      "default": "background-4",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "page_image_ratio",
      "default": "16/9",
      "label": "t:sections.all.card.ratio.label",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.image.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.image.aspect_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.image.aspect_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.image.aspect_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.image.aspect_ratio.options__5.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.image.aspect_ratio.options__6.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.image_filter.content"
    },
    {
      "type": "select",
      "id": "image_filter_ratio",
      "options": [
        {
          "value": "3/2",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "1/1",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        }
      ],
      "default": "1/1",
      "label": "t:sections.all.card.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_filter_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "range",
      "id": "image_filter_columns",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.image_filter_columns.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ]
}
{% endschema %}
