{{ 'section-media.css' | asset_url | stylesheet_tag }}
<script src='{{ 'media.js' | asset_url }}' defer='defer'></script>

{% style %}
	{% render 'section-margin' %}
{% endstyle %}

{% liquid
	assign content_alignment = section.settings.content_alignment
	assign indent_value = section.settings.indent_value
	assign swipe_on_mobile = section.settings.swipe_on_mobile
	assign columns_per_row = section.settings.columns_per_row
	assign image_ratio = section.settings.image_ratio
%}

<div class='simple-media'>
	<div class='container'>
		{% render 'section-header',
			section_heading: section.settings.section_heading,
			section_subheading: section.settings.subheading,
			dot: section.settings.dot,
			section_heading_size: section.settings.section_heading_size,
			section_heading_tag: section.settings.section_heading_tag,
			line: section.settings.line
		%}
	</div>
	<div class='container simple-media__container'>
		<div class='simple-media__wrapper'>
			<div class='simple-media-list {% if swipe_on_mobile and section.blocks.size > 1 %}swiper swiper--media{% endif %}'>
				{%- if swipe_on_mobile and section.blocks.size > 1 -%}
					<div class='swipe-on-mobile__nav no-js-hidden'>
						<div class='simple-media__pagination swiper-pagination'></div>
					</div>
				{%- endif -%}
				
				<div
					class='simple-media-list__wrapper simple-media-list__wrapper--{{ columns_per_row }} simple-media-list__wrapper--{{ indent_value }}{% if swipe_on_mobile and section.blocks.size > 1 %} swiper-wrapper{% endif %}'
					style='--indent_value: {{ indent_value }};'
				>
					{%- for block in section.blocks -%}
						{% style %}
							#shopify-section-{{ section.id }} [data-id="{{ block.id }}"].simple-media-card {
							    {% if block.settings.overlay_enable %}
							      --opacity-card-overlay: {{ block.settings.overlay_opacity }};
							    {% else %}
							      --opacity-card-overlay: 0;
							    {% endif %}
							    --opacity-card-hover: {{ block.settings.overlay_opacity | plus: 0.1 }};
							    {% if image_ratio != 'adapt' and image_ratio != 'large' %}
							      --aspect-ratio: {{ image_ratio }};
							    {% elsif image_ratio == 'adapt' and block.settings.image != blank %}
							      --aspect-ratio: {{ block.settings.image.aspect_ratio }};
							    {% endif %}
							  }
						{% endstyle %}
						{% liquid
							assign without_border_radius = false
							if indent_value == '0' and section.blocks.size > 1
								assign without_border_radius = true
							endif
						%}
						<div
							class='simple-media-card simple-media-card--{{ content_alignment }} color-{{ block.settings.color_scheme }} {% if swipe_on_mobile and section.blocks.size > 1 %}swiper-slide{% endif %} {{ image_ratio }}{% if without_border_radius %} without-border-radius{% endif %}'
							data-id='{{ block.id }}'
							{{ block.shopify_attributes }}
						>
							{%- if block.settings.primary_button_link != blank
								and block.settings.full_link
							-%}
								<a
									href='{{ block.settings.primary_button_link }}'
									class='simple-media-card__link-overlay'
									aria-label='{{ block.settings.primary_button_label }}'
								></a>
							{%- endif -%}
							{%- if block.settings.image != blank -%}
								<span
									class='simple-media-card__overlay{% if block.settings.primary_button_link != blank and block.settings.full_link %} hover-effect{% endif %}'
								></span>
								<div class='simple-media-card__image'>
									{%- capture sizes -%}
                    (min-width: 1100px) calc((100vw - 64px * 2)), calc((100vw - 20px * 2))
                  {%- endcapture -%}
									{{
										block.settings.image
										| image_url: width: block.settings.image.width
										| image_tag:
											loading: 'lazy',
											width: block.settings.image.width,
											height: block.settings.image.height,
											sizes: sizes,
											widths: '360, 535, 720, 940, 1070, 1200, 1500, 1780, 2000, 2400, 2800, 3200'
									}}
								</div>
							{% endif %}
							{% if block.settings.show_video == true %}
								{% if block.settings.video != blank
									or block.settings.video_url != blank
								%}
									{% liquid
										assign muted = block.settings.muted_video

										if block.settings.autoplay_video == true
											assign muted = true
										endif
									%}

									<div
										class='simple-media-card__video{% if block.settings.autoplay_video %} autoplay{% endif %}'
										data-video-id='{{ block.settings.video.id }}'
										{% if block.settings.loop_video == false %}
											data-video-loop='false'
										{% endif %}
									>
										{% if block.settings.video != blank %}
											{{
												block.settings.video
												| video_tag:
													image_size: '1920x',
													autoplay: false,
													loop: block.settings.loop_video,
													muted: muted
											}}
										{% else %}
											{%- if block.settings.video_url.type == 'youtube' -%}
												<iframe
													src='https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&{%- if block.settings.autoplay_video -%}autoplay=1{%- else -%}autoplay=0{%- endif -%}{%- if muted == true -%}&mute=1{%- endif -%}&controls=0{%- if block.settings.loop_video -%}&playlist={{ block.settings.video_url.id }}&loop=1{%- endif -%}&rel=0'
													class='js-youtube{% if muted == true %} video-muted{% endif %}{% if block.settings.autoplay_video == false %} video-pause{% endif %}'
													allow='autoplay; encrypted-media'
													allowfullscreen
													title='{{ block.settings.description_video | escape }}'
													data-id='{{ block.settings.video_url.id }}'
												></iframe>
											{%- else -%}
												<iframe
													src='https://player.vimeo.com/video/{{ block.settings.video_url.id }}?{%- if block.settings.autoplay_video -%}autoplay=1&autopause=0{%- else -%}autoplay=0{%- endif -%}{%- if muted == true -%}&muted=1{%- endif -%}&controls=false{%- if block.settings.loop_video -%}&loop=1{%- endif -%}'
													class='js-vimeo{% if muted == true %} video-muted{% endif %}{% if block.settings.autoplay_video == false %} video-pause{% endif %}'
													allow='autoplay; encrypted-media'
													frameborder='0'
													allowfullscreen
													title='{{ block.settings.description_video | escape }}'
													data-id='{{ block.settings.video_url.id }}'
												></iframe>
											{%- endif -%}
										{% endif %}
									</div>
									{% if block.settings.show_icon_play
										or block.settings.show_icon_sound
									%}
										<div class='simple-media-card__video-buttons'>
											{% if block.settings.show_icon_play %}
												<button
													class='button--unstyled button--play js-play-video{% if block.settings.autoplay_video %} active{% endif %}'
													aria-label=' {{ 'general.video.play' | t }}'
												>
													<span>
														<span class='button-icon button-icon-pause'>
															{% render 'icon-pause' %}
														</span>
														<span class='button-icon button-icon-play'>
															{% render 'icon-play-media' %}
														</span>
													</span>
												</button>
											{% endif %}
											{% if block.settings.show_icon_sound %}
												<button
													class='button--unstyled button--sound js-sound-video'
													{{ 'general.video.sound' | t }}
												>
													<span>
														<span class='button-icon {% if muted == false %} icon-hidden {% endif %}'>
															{% render 'icon-sound-off' %}
														</span>
														<span class='button-icon {% if muted == true %} icon-hidden {% endif %}'>
															{% render 'icon-sound-on' %}
														</span>
													</span>
												</button>
											{% endif %}
										</div>
									{% endif %}
								{% endif %}
							{% endif %}
							<div class='simple-media-card__wrapper'>
								<div class='simple-media-card__content'>
									{% if block.settings.subheading != blank %}
										<div class='subheading simple-media-card__subheading'>
											{{ block.settings.subheading }}
										</div>
									{% endif %}
									{%- if block.settings.heading != blank
										or block.settings.text != blank
									-%}
										<div class='simple-media-card__info'>
											{%- if block.settings.heading != blank -%}
												<h2 class='simple-media-card__heading {{ block.settings.heading_size }}'>
													{{ block.settings.heading | escape }}
												</h2>
											{%- endif -%}
											{%- if block.settings.text != blank -%}
												<div class='simple-media-card__text richtext__content'>
													{{ block.settings.text }}
												</div>
											{%- endif -%}
										</div>
									{%- endif -%}
									{% if block.settings.primary_button_label != blank
										or block.settings.secondary_button_label != blank
									%}
										<div class='simple-media-card__buttons'>
											{% if block.settings.primary_button_label != blank %}
												{% render 'button',
													btn_label: block.settings.primary_button_label,
													btn_link: block.settings.primary_button_link,
													btn_style: block.settings.primary_button_style,
													button_dot: block.settings.primary_button_dot,
													add_classes: 'focus-inset'
												%}
											{% endif %}
											{% if block.settings.secondary_button_label != blank %}
												{% render 'button',
													btn_label: block.settings.secondary_button_label,
													btn_link: block.settings.secondary_button_link,
													btn_style: block.settings.secondary_button_style,
													button_dot: block.settings.secondary_button_dot,
													add_classes: 'focus-inset'
												%}
											{% endif %}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.media.name",
	"class": "media-section spaced-section",
	"tag": "section",
	"max_blocks": 12,
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "range",
			"id": "columns_per_row",
			"min": 1,
			"max": 6,
			"step": 1,
			"default": 2,
			"label": "t:sections.all.columns.label",
			"info": "t:sections.all.columns.info"
		},
		{
			"type": "select",
			"id": "content_alignment",
			"default": "center",
			"label": "t:sections.all.content_alignment.label",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.content_alignment.options.options__2.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.content_alignment.options.options__1.label"
				}
			]
		},
		{
			"type": "select",
			"id": "indent_value",
			"default": "1.6rem",
			"label": "t:sections.all.indents.label",
			"options": [
				{
					"value": "0",
					"label": "t:sections.all.indents.options__1.label"
				},
				{
					"value": "0.2rem",
					"label": "t:sections.all.indents.options__2.label"
				},
				{
					"value": "1.6rem",
					"label": "t:sections.all.indents.options__3.label"
				},
				{
					"value": "2.4rem",
					"label": "t:sections.all.indents.options__4.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.mobile_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "swipe_on_mobile",
			"default": false,
			"label": "t:sections.all.mobile_options.swipe.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"default": "16/9",
			"label": "t:sections.all.image.aspect_ratio.label",
			"info": "t:sections.all.image.aspect_ratio.info",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.all.image.aspect_ratio.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.all.image.aspect_ratio.options__2.label"
				},
				{
					"value": "3/4",
					"label": "t:sections.all.image.aspect_ratio.options__3.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.all.image.aspect_ratio.options__4.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.all.image.aspect_ratio.options__5.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.all.image.aspect_ratio.options__6.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.all.image.aspect_ratio.options__7.label"
				},
				{
					"value": "large",
					"label": "t:sections.all.image.aspect_ratio.options__8.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.section-header.label"
		},
		{
			"type": "text",
			"id": "section_heading",
			"default": "t:sections.media.settings.heading.default",
			"label": "t:sections.all.section-header.heading.label"
		},
		{
			"type": "select",
			"id": "section_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h3",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.media.settings.subheading.default",
			"label": "t:sections.all.section-header.subheading.label"
		},
		{
			"type": "checkbox",
			"id": "dot",
			"default": true,
			"label": "t:sections.all.section-header.dot.label"
		},
		{
			"type": "checkbox",
			"id": "line",
			"default": true,
			"label": "t:sections.all.section-header.line.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "media_card",
			"name": "t:sections.media.blocks.media_card.name",
			"settings": [
				{
					"type": "color_scheme",
					"id": "color_scheme",
					"default": "background-3",
					"label": "t:sections.all.color_scheme.label"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.overlay.header.content"
				},
				{
					"type": "checkbox",
					"id": "overlay_enable",
					"default": true,
					"label": "t:sections.all.overlay.overlay_enable.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0.2,
					"label": "t:sections.all.overlay.overlay_opacity.label"
				},
				{
					"type": "header",
					"content": "t:sections.media.blocks.media_card.settings.header__1.content"
				},
				{
					"type": "checkbox",
					"id": "show_video",
					"label": "t:sections.media.blocks.media_card.settings.show_video.label",
					"default": false
				},
				{
					"type": "video",
					"id": "video",
					"label": "t:sections.media.blocks.media_card.settings.video.label"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"accept": ["youtube", "vimeo"],
					"default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
					"label": "t:sections.media.blocks.media_card.settings.video_url.label",
					"info": "t:sections.media.blocks.media_card.settings.video_url.info"
				},
				{
					"type": "checkbox",
					"id": "autoplay_video",
					"label": "t:sections.media.blocks.media_card.settings.autoplay_video.label",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "muted_video",
					"label": "t:sections.media.blocks.media_card.settings.muted_video.label",
					"info": "t:sections.media.blocks.media_card.settings.muted_video.info",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "loop_video",
					"label": "t:sections.media.blocks.media_card.settings.loop_video.label",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_icon_play",
					"label": "t:sections.media.blocks.media_card.settings.show_icon_play.label",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_icon_sound",
					"label": "t:sections.media.blocks.media_card.settings.show_icon_sound.label",
					"default": true
				},
				{
					"type": "text",
					"id": "description_video",
					"label": "t:sections.media.blocks.media_card.settings.description_video.label",
					"info": "t:sections.media.blocks.media_card.settings.description_video.info"
				},
				{
					"type": "header",
					"content": "t:sections.all.content_options.header.content"
				},
				{
					"type": "text",
					"id": "subheading",
					"default": "t:sections.media.blocks.media_card.settings.subheading.default",
					"label": "t:sections.all.subheading.label"
				},
				{
					"type": "text",
					"id": "heading",
					"default": "t:sections.media.blocks.media_card.settings.heading.default",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "select",
					"id": "heading_size",
					"options": [
						{
							"value": "h4",
							"label": "t:sections.all.heading_size.options__4.label"
						},
						{
							"value": "h3",
							"label": "t:sections.all.heading_size.options__1.label"
						},
						{
							"value": "h2",
							"label": "t:sections.all.heading_size.options__2.label"
						},
						{
							"value": "h1",
							"label": "t:sections.all.heading_size.options__3.label"
						}
					],
					"default": "h2",
					"label": "t:sections.all.heading_size.label"
				},
				{
					"type": "inline_richtext",
					"id": "text",
					"label": "t:sections.all.text.label"
				},
				{
					"type": "header",
					"content": "t:sections.media.blocks.media_card.settings.header_button_primary.content"
				},
				{
					"type": "text",
					"id": "primary_button_label",
					"default": "t:sections.media.blocks.media_card.settings.header_button_primary.default",
					"label": "t:sections.all.button.button_label.label",
					"info": "t:sections.all.button.button_label.info"
				},
				{
					"type": "url",
					"id": "primary_button_link",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "checkbox",
					"id": "primary_button_dot",
					"default": true,
					"label": "t:sections.all.button.button_dot.label"
				},
				{
					"type": "select",
					"id": "primary_button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "header",
					"content": "t:sections.media.blocks.media_card.settings.header_button_secondary.content"
				},
				{
					"type": "text",
					"id": "secondary_button_label",
					"default": "t:sections.media.blocks.media_card.settings.header_button_secondary.default",
					"label": "t:sections.all.button.button_label.label",
					"info": "t:sections.all.button.button_label.info"
				},
				{
					"type": "url",
					"id": "secondary_button_link",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "checkbox",
					"id": "secondary_button_dot",
					"default": true,
					"label": "t:sections.all.button.button_dot.label"
				},
				{
					"type": "select",
					"id": "secondary_button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "secondary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "checkbox",
					"id": "full_link",
					"default": false,
					"label": "t:sections.all.overlay_link.label",
					"info": "t:sections.all.overlay_link.info_secondary"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.media.name",
			"blocks": [
				{
					"type": "media_card"
				},
				{
					"type": "media_card"
				}
			]
		}
	]
}
{% endschema %}
