{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<script src='{{ 'multicolumn.js' | asset_url }}' defer='defer'></script>

{% style %}
	{% render 'section-margin' %}
{% endstyle %}

{% liquid
	assign content_alignment = section.settings.content_alignment
	assign swipe_on_mobile = section.settings.swipe_on_mobile
	assign columns_per_row = section.settings.columns_per_row
	assign section_heading = section.settings.section_heading
	assign section_subheading = section.settings.subheading
%}

<div class='multicolumn section-{{ section.id }}-padding background'>
	<div class='container'>
		{%- if section_heading != blank or section_subheading != blank -%}
			{%
				render 'section-header',
				section_heading: section_heading,
				section_subheading: section_subheading,
				section_heading_size: section.settings.section_heading_size,
				section_heading_tag: section.settings.section_heading_tag,
				dot: section.settings.dot,
			%}
		{%- endif -%}

		<div class='multicolumn__wrapper'>
			<div class='multicolumn-list {% if swipe_on_mobile and section.blocks.size > 1 %}swiper swiper--multicolumn{% endif %}'>
				{%- if swipe_on_mobile and section.blocks.size > 1 -%}
					<div class='swipe-on-mobile__nav no-js-hidden'>
						<div class='multicolumn__pagination swiper-pagination'></div>
					</div>
				{%- endif -%}

				<div class='multicolumn-list__wrapper multicolumn-list__wrapper--{{ columns_per_row }} multicolumn-list__wrapper--{{ content_alignment }} {% if swipe_on_mobile and section.blocks.size > 1 %}swiper-wrapper{% endif %}'>
					{%- for block in section.blocks -%}
						<div
							class='multicolumn-card multicolumn-list__item multicolumn-card--{{ content_alignment }} {% if swipe_on_mobile and section.blocks.size > 1 %}swiper-slide{% endif %}'
							{{ block.shopify_attributes }}
						>
							{%- if block.settings.button_link != blank
								and block.settings.full_link
							-%}
								<a
									href='{{ block.settings.button_link }}'
									class='multicolumn__link-overlay'
									aria-label='{{ block.settings.heading }}'
								></a>
							{%- endif -%}

							{% liquid
								assign image_size = block.settings.image_size
								assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio

								case image_size
									when 'adapt'
										if block.settings.video != blank
											assign section_size = 1 | divided_by: block.settings.video.aspect_ratio | times: 100 | append: '%'
										else
											assign section_size = 1 | divided_by: block.settings.image.aspect_ratio | times: 100 | append: '%'
										endif
								endcase
							%}
							{% if block.settings.image != blank
								or block.settings.video != blank
							%}
								{% if block.settings.icon == 'none' %}
									<div
										class='multicolumn-card__picture {{ image_size }}'
									>
										{%- assign image_classes = 'jarallax-img '
											| append: block.settings.image_width
										-%}

										{%- capture aspect_ratio_media -%}
											--slide-height: {{ section_size }};
											{% if block.settings.video == blank %}
													aspect-ratio: {{ image_size }};
											{% else %}
													aspect-ratio: 16/9;
											{% endif %}
									{%- endcapture -%}

										<div class='multicolumn-card__light-mode {% if block.settings.dark_mode_image == blank %} dark-image-blank {% endif %}'>
											{%- if block.settings.video != blank -%}
												{% liquid
													assign video_height = block.settings.video.sources[0].width | divided_by: block.settings.video.aspect_ratio
												%}
												{{
													block.settings.video
													| video_tag:
														width: block.settings.video.sources[0].width,
														height: video_height,
														autoplay: true,
														loop: true,
														controls: false,
														muted: true,
														style: aspect_ratio_media
												}}
											{% elsif block.settings.image != blank %}
												{% assign image_height = block.settings.image.width
													| divided_by: block.settings.image.aspect_ratio
												%}
												{{
													block.settings.image
													| image_url: width: 3840
													| image_tag:
														loading: 'lazy',
														width: block.settings.image.width,
														height: image_height,
														sizes: '100vw (min-width: 767px) 50vw',
														widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
														class: image_classes,
														style: aspect_ratio_media
												}}
											{%- endif -%}
										</div>

										<div class='multicolumn-card__dark-mode {% if block.settings.dark_mode_image == blank and block.settings.video == blank %} image-blank {% endif %}'>
											{%- if block.settings.video != blank -%}
												{{
													block.settings.video
													| video_tag:
														width: block.settings.video.sources[0].width,
														height: video_height,
														autoplay: true,
														loop: true,
														controls: false,
														muted: true,
														style: aspect_ratio_media
												}}
											{%- elsif block.settings.dark_mode_image != blank -%}
												{%- assign image_height = block.settings.dark_mode_image.width
													| divided_by: block.settings.dark_mode_image.aspect_ratio
												-%}
												{{
													block.settings.dark_mode_image
													| image_url: width: 3840
													| image_tag:
														loading: 'lazy',
														width: block.settings.dark_mode_image.width,
														height: image_height,
														sizes: '100vw (min-width: 767px) 50vw',
														widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
														class: image_classes,
														style: aspect_ratio_media
												}}
											{%- endif -%}
										</div>
									</div>
								{% endif %}
							{%- endif -%}

							{%- if block.settings.icon != 'none' -%}
								<div class='multicolumn-card__image-wrapper multicolumn-card__image-wrapper--extra_small'>
									{% render 'icon-pack', icon: block.settings.icon %}
								</div>
							{%- endif -%}
							{%- if block.settings.heading != blank
								or block.settings.text != blank
							-%}
								<div class='multicolumn-card__info'>
									{%- if block.settings.heading != blank -%}
										{% assign card_heading_tag = section.settings.card_heading_tag %}
										<{{ card_heading_tag }} class='multicolumn-card__heading {{ section.settings.card_heading_size }}'>
											{{ block.settings.heading | escape }}
										</{{ card_heading_tag }}>
									{%- endif -%}
									{%- if block.settings.text != blank -%}
										<p class='multicolumn-card__text richtext__content'>
											{{ block.settings.text }}
										</p>
									{%- endif -%}
								</div>
							{%- endif -%}
							{%- if block.settings.button_label != blank -%}
								{% render 'button',
									btn_label: block.settings.button_label,
									btn_link: block.settings.button_link,
									btn_style: block.settings.button_style,
									button_dot: block.settings.button_dot,
									add_classes: 'multicolumn-card__button'
								%}
							{%- endif -%}
						</div>
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.multicolumn.name",
	"class": "spaced-section multicolumn-section",
	"tag": "section",
	"max_blocks": 12,
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "header",
			"content": "t:sections.all.section-header.label"
		},
		{
			"type": "text",
			"id": "section_heading",
			"default": "t:sections.multicolumn.settings.heading_options.heading",
			"label": "t:sections.all.section-header.heading.label"
		},
		{
			"type": "select",
			"id": "section_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.multicolumn.settings.heading_options.subheading",
			"label": "t:sections.all.section-header.subheading.label"
		},
		{
			"type": "checkbox",
			"id": "dot",
			"default": true,
			"label": "t:sections.all.section-header.dot.label"
		},
		{
			"type": "header",
			"content": "t:sections.multicolumn.settings.section_heading.label"
		},
		{
			"type": "range",
			"id": "columns_per_row",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.all.columns.label",
			"info": "t:sections.all.columns.info"
		},
		{
			"type": "select",
			"id": "content_alignment",
			"default": "left",
			"label": "t:sections.all.content_alignment.label",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.content_alignment.options.options__2.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.content_alignment.options.options__1.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.mobile_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "swipe_on_mobile",
			"default": true,
			"label": "t:sections.all.mobile_options.swipe.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.heading.header.content"
		},
		{
			"type": "select",
			"id": "card_heading_tag",
			"label": "t:sections.multicolumn.settings.heading_tag.label",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h4"
		},
		{
			"type": "select",
			"id": "card_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				}
			],
			"default": "h4",
			"label": "t:sections.multicolumn.settings.card_heading_size.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "column",
			"name": "t:sections.multicolumn.blocks.column.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "image_picker",
					"id": "dark_mode_image",
					"label": "t:sections.all.dark_mode_image.label"
				},
				{
					"type": "select",
					"id": "image_width",
					"default": "full",
					"label": "t:sections.multicolumn.settings.image_width.label",
					"options": [
						{
							"value": "icon",
							"label": "t:sections.multicolumn.settings.image_width.options__1.label"
						},
						{
							"value": "medium",
							"label": "t:sections.multicolumn.settings.image_width.options__2.label"
						},
						{
							"value": "full",
							"label": "t:sections.multicolumn.settings.image_width.options__3.label"
						}
					]
				},
				{
					"type": "video",
					"id": "video",
					"label": "t:sections.all.video.label"
				},
				{
					"type": "select",
					"id": "image_size",
					"default": "16/9",
					"label": "t:sections.all.image.aspect_ratio.label",
					"options": [
						{
							"value": "1/1",
							"label": "t:sections.slideshow.settings.height.options__1.label"
						},
						{
							"value": "3/2",
							"label": "t:sections.slideshow.settings.height.options__2.label"
						},
						{
							"value": "4/3",
							"label": "t:sections.slideshow.settings.height.options__3.label"
						},
						{
							"value": "16/9",
							"label": "t:sections.slideshow.settings.height.options__4.label"
						},
						{
							"value": "21/9",
							"label": "t:sections.slideshow.settings.height.options__5.label"
						},
						{
							"value": "adapt",
							"label": "t:sections.slideshow.settings.height.options__6.label"
						}
					]
				},
				{
					"type": "select",
					"id": "icon",
					"options": [
						{
							"value": "none",
							"label": "t:sections.all.icon_pack.options__1.label"
						},
						{
							"value": "globe",
							"label": "t:sections.all.icon_pack.options__2.label"
						},
						{
							"value": "return",
							"label": "t:sections.all.icon_pack.options__3.label"
						},
						{
							"value": "tree",
							"label": "t:sections.all.icon_pack.options__4.label"
						},
						{
							"value": "recycle",
							"label": "t:sections.all.icon_pack.options__5.label"
						},
						{
							"value": "support",
							"label": "t:sections.all.icon_pack.options__6.label"
						},
						{
							"value": "deconstruct",
							"label": "t:sections.all.icon_pack.options__12.label"
						},
						{
							"value": "certified",
							"label": "t:sections.all.icon_pack.options__13.label"
						}
					],
					"default": "globe",
					"label": "t:sections.all.icon_pack.label",
					"info": "t:sections.multicolumn.blocks.column.settings.icon.info"
				},
				{
					"type": "text",
					"id": "heading",
					"default": "t:sections.multicolumn.blocks.column.settings.heading.label",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "inline_richtext",
					"id": "text",
					"default": "t:sections.multicolumn.blocks.column.settings.subheading.label",
					"label": "t:sections.all.text.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "t:sections.multicolumn.blocks.column.settings.button_label.default",
					"label": "t:sections.all.button.button_label.label",
					"info": "t:sections.all.button.button_label.info"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "checkbox",
					"id": "button_dot",
					"default": true,
					"label": "t:sections.all.button.button_dot.label"
				},
				{
					"type": "select",
					"id": "button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "checkbox",
					"id": "full_link",
					"default": false,
					"label": "t:sections.all.overlay_link.label",
					"info": "t:sections.all.overlay_link.info"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.multicolumn.name",
			"blocks": [
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				}
			]
		}
	]
}
{% endschema %}
