{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% style %}
	{% render 'section-margin' %}

	.slide_change-postion {
		transition: transform {{ section.settings.slideshow_speed }}s;
	}

	.carousel_change-postion_next, .carousel_change-postion_next-2, .carousel_change-postion_prev {
		transition: transform {{ section.settings.slideshow_speed }}s, padding {{ section.settings.slideshow_speed }}s;
	}
{% endstyle %}

{% liquid
	assign count = 0
	assign section_id = 'shopify-section-' | append: section.id
	assign section_collection = section.settings.collection
	if section_collection != blank
		assign product_list = section_collection.products
	elsif section.settings.product_list != blank
		assign product_list = section.settings.product_list
	else
		assign count = 5
	endif
	for product in product_list
		assign count = count | plus: 1
	endfor
%}

<div class='popular-products'>
	<div class='container'>
		{% render 'section-header',
			section_heading: section.settings.section_heading,
			section_subheading: section.settings.subheading,
			section_heading_size: section.settings.section_heading_size,
			section_heading_tag: section.settings.heading_tag,
			dot: section.settings.dot,
			line: section.settings.line
		%}
		<div class='popular-product__wrapper'></div>
	</div>
	{% if count <= section.settings.columns_per_row %}
		{% assign show_arrows = false %}
	{% elsif count > section.settings.columns_per_row
		and section.settings.show_arrows
	%}
		{% assign show_arrows = true %}
	{% endif %}
	{% render 'products-swiper',
		slider_settings: section.settings,
		product_list: product_list,
		product_heading_tag: section.settings.product_heading_tag,
		pagination_on: true,
		section_id: section_id,
		container: true,
		per_row: section.settings.columns_per_row,
		show_arrows: show_arrows
	%}
</div>

{% schema %}
{
	"name": "t:sections.product-slider.name",
	"tag": "section",
	"class": "popular-products-section spaced-section",
	"disabled_on": {
		"templates": ["password"],
		"groups": ["*"]
	},
	"settings": [
		{
			"type": "range",
			"id": "columns_per_row",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.all.columns.label",
			"info": "t:sections.all.columns.info"
		},
		{
			"type": "select",
			"id": "slides_per_view_mobile",
			"default": "1",
			"label": "t:sections.all.slider_options.mobile_per_view.label",
			"info": "t:sections.all.slider_options.mobile_per_view.info",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.section-header.label"
		},
		{
			"type": "text",
			"id": "section_heading",
			"default": "t:sections.product-slider.settings.heading.label",
			"label": "t:sections.all.section-header.heading.label"
		},
		{
			"type": "select",
			"id": "heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h2",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "t:sections.all.section-header.subheading.label"
		},
		{
			"type": "checkbox",
			"id": "dot",
			"default": true,
			"label": "t:sections.all.section-header.dot.label"
		},
		{
			"type": "checkbox",
			"id": "line",
			"default": true,
			"label": "t:sections.all.section-header.line.label",
			"info": "t:sections.all.section-header.line.info"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "t:sections.all.collection.label",
			"info": "t:sections.product-slider.settings.collection.info"
		},
		{
			"type": "product_list",
			"id": "product_list",
			"limit": 12,
			"label": "t:sections.all.product_card.product_list.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.slider_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"default": false,
			"label": "t:sections.all.slider_options.slider_desktop_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "mobile_autoplay",
			"default": false,
			"label": "t:sections.all.slider_options.slider_mobile_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "stop_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
		},
		
		{
			"type": "checkbox",
			"id": "show_arrows",
			"default": true,
			"label": "t:sections.all.slider_options.navigation.label",
			"info": "t:sections.all.slider_options.navigation.info"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 1.1,
			"unit": "s",
			"label": "t:sections.all.slider_options.speed.label"
		},
		{
			"type": "range",
			"id": "slideshow_delay",
			"min": 0,
			"max": 8,
			"step": 0.1,
			"default": 3,
			"unit": "s",
			"label": "t:sections.all.slider_options.delay.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.button_style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.button_style.options__3.label"
				}
			],
			"default": "tertiary",
			"label": "t:sections.all.button.button_style.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.product_card.header.content"
		},
		{
			"type": "select",
			"id": "product_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h3"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "square",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.all.image.fit.label",
			"default": "cover",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "show_collection_name",
			"default": false,
			"label": "t:sections.all.product_card.show_colection_name.label"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": true,
			"label": "t:sections.all.product_card.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_sku",
			"default": false,
			"label": "t:sections.all.sku.show_sku"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.all.product_card.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.all.product_card.show_description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "xs",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "xs",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.product-slider.presets.name"
		}
	]
}
{% endschema %}
