<link
	rel='stylesheet'
	href='{{ 'component-badge.css' | asset_url }}'
	media='print'
	onload="this.media='all'"
>
<link
	rel='stylesheet'
	href='{{ 'component-card.css' | asset_url }}'
	media='print'
	onload="this.media='all'"
>
<link
	rel='stylesheet'
	href='{{ 'component-price.css' | asset_url }}'
	media='print'
	onload="this.media='all'"
>
<link
	rel='stylesheet'
	href='{{ 'section-product-recommendations.css' | asset_url }}'
	media='print'
	onload="this.media='all'"
>

<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>
	{{- 'section-product-recommendations.css' | asset_url | stylesheet_tag -}}
</noscript>

{%- if settings.quickview_show
	or settings.show_on_mobile
	or settings.type_color_swatch == 'custom'
-%}
	{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if settings.quickview_show or settings.show_on_mobile -%}
	<link
		rel='stylesheet'
		href='{{ 'component-deferred-media.css' | asset_url }}'
		media='all'
	>
	<link
		rel='preload'
		href='{{ 'quick-add.css' | asset_url }}'
		as='style'
		onload="this.onload=null;this.rel='stylesheet'"
	>
{%- endif -%}

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

{% liquid
	assign section_id = 'shopify-section-' | append: section.id
	if recommendations.products_count <= section.settings.columns_per_row
		assign swiper_off = true
	else
		assign swiper_off = false
	endif
%}

<product-recommendations
	class='popular-products'
	data-url='{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&intent=complementary'
	data-id=''
	{{ section_id }}
	data-swiper-off=''
	{{ swiper_off }}
>
	<div class='container'>
		{% render 'section-header',
			section_heading: section.settings.section_heading,
			section_subheading: section.settings.subheading,
			section_heading_size: section.settings.section_heading_size,
			section_heading_tag: section.settings.section_heading_tag,
			dot: section.settings.dot,
			line: section.settings.line
		%}
		<div class="popular-product__wrapper"></div>
	</div>
	{% if recommendations.performed and recommendations.products_count > 0 %}
		{% liquid		
			assign per_row = section.settings.columns_per_row 
			if recommendations.products_count <= section.settings.columns_per_row or section.settings.products_limit <= section.settings.columns_per_row
				assign show_arrows = false
			else
				assign show_arrows = section.settings.show_arrows
			endif
		%}
		{% render 'products-swiper',
			slider_settings: section.settings,
			product_list: recommendations.products,
			product_count: recommendations.products_count,
			section_id: section_id,
			container: true,
			per_row: per_row,
			show_arrows: show_arrows
		%}
	{% else %}
		<div
			class='product-recommendations__empty container'
			style='display: none;'
		>
			<span>
				{{ 'sections.product_recommendations.complementary_empty' | t }}
			</span>
		</div>
	{% endif %}
	<div
		class='product-recommendations__loading'
		style='display: none;'
	>
		{% render 'icon-spinner' %}
	</div>
</product-recommendations>

{% schema %}
{
	"name": "t:sections.product-complementary.name",
	"tag": "section",
	"class": "spaced-section section-product-recommendations no-js-hidden",
	"enabled_on": {
		"templates": ["product"]
	},
	"settings": [
		{
			"type": "paragraph",
			"content": "t:sections.product-complementary.settings.paragraph__1.content"
		},
		{
			"type": "range",
			"id": "columns_per_row",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "t:sections.all.columns.label",
			"info": "t:sections.all.columns.info"
		},
		{
			"type": "range",
			"id": "products_limit",
			"min": 1,
			"max": 10,
			"step": 1,
			"default": 3,
			"label": "t:sections.product-complementary.settings.products_limit.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.slider_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"default": false,
			"label": "t:sections.all.slider_options.slider_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "stop_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"default": true,
			"label": "t:sections.all.slider_options.navigation.label",
			"info": "t:sections.all.slider_options.navigation.info"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 1.1,
			"unit": "s",
			"label": "t:sections.all.slider_options.speed.label"
		},
		{
			"type": "range",
			"id": "slideshow_delay",
			"min": 1,
			"max": 8,
			"step": 0.1,
			"default": 3,
			"unit": "s",
			"label": "t:sections.all.slider_options.delay.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-header.label"
		},
		{
			"type": "text",
			"id": "section_heading",
			"default": "t:sections.product-complementary.settings.heading.default",
			"label": "t:sections.all.section-header.heading.label"
		},
		{
			"type": "select",
			"id": "section_heading_tag",
			"label": "t:sections.all.heading.tag",
			"options": [
				{
					"value": "h1",
					"label": "H1"
				},
				{
					"value": "h2",
					"label": "H2"
				},
				{
					"value": "h3",
					"label": "H3"
				},
				{
					"value": "h4",
					"label": "H4"
				},
				{
					"value": "h5",
					"label": "H5"
				},
				{
					"value": "h6",
					"label": "H6"
				},
				{
					"value": "div",
					"label": "div"
				},
				{
					"value": "p",
					"label": "p"
				},
				{
					"value": "span",
					"label": "span"
				}
			],
			"default": "h2"
		},
		{
			"type": "select",
			"id": "section_heading_size",
			"options": [
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h3",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.product-complementary.settings.subheading.label",
			"label": "t:sections.all.section-header.subheading.label"
		},
		{
			"type": "checkbox",
			"id": "dot",
			"default": true,
			"label": "t:sections.all.section-header.dot.label"
		},
		{
			"type": "checkbox",
			"id": "line",
			"default": true,
			"label": "t:sections.all.section-header.line.label",
			"info": "t:sections.all.section-header.line.info"
		},
		{
			"type": "header",
			"content": "t:sections.all.product_card.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "square",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.all.image.fit.label",
			"default": "cover",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "show_collection_name",
			"default": false,
			"label": "t:sections.all.product_card.show_colection_name.label"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": true,
			"label": "t:sections.all.product_card.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_sku",
			"default": false,
			"label": "t:sections.all.sku.show_sku"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.all.product_card.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.all.product_card.show_description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	]
}
{% endschema %}
