{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
{% if section.settings.text_animation %}
	{{ 'component-heading-animations.css' | asset_url | stylesheet_tag }}
	<script src="{{ 'split-type.js' | asset_url }}" defer="defer"></script>
{% endif %}
<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
{% style %}
	{% render 'section-margin' %}

	{% if section.settings.header_transparent %}
		{% assign color_scheme_header = section.settings.color_scheme_header %}
		{% for scheme in settings.color_schemes -%}
			[data-scheme=dark] {
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .header__menu-item,
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .link--text:not(.disclosure__link),
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .link--text .h5,
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .aside-menu__toggle .icon-menu,
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .aside-menu__toggle span,
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .header__toggle-scheme-item {
					--color-foreground: {{ scheme.settings.colors_text.red }}, {{ scheme.settings.colors_text.green }}, {{ scheme.settings.colors_text.blue }};
					--color-foreground-title: {{ scheme.settings.colors_text_title.red }}, {{ scheme.settings.colors_text_title.green }}, {{ scheme.settings.colors_text_title.blue }};
				}
			}

			@media (prefers-color-scheme: dark) {
				[data-scheme=auto] {
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .header__menu-item,
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .link--text:not(.disclosure__link),
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .link--text .h5,
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .aside-menu__toggle .icon-menu,
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .aside-menu__toggle span,
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky).color-{{ scheme.id }} .header__toggle-scheme-item {
						--color-foreground: {{ scheme.settings.colors_text.red }}, {{ scheme.settings.colors_text.green }}, {{ scheme.settings.colors_text.blue }};
						--color-foreground-title: {{ scheme.settings.colors_text_title.red }}, {{ scheme.settings.colors_text_title.green }}, {{ scheme.settings.colors_text_title.blue }};
					}
				}
			}
		{% endfor %}

		{% if section.settings.light_logo == false %}
			[data-scheme='dark'] {
				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky) .header__heading-logo {
					display: block;
				}

				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky) .header__heading-logo--overlay {
					display: none;
				}

				.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky) .header__heading-logo:only-child {

				}
			}

			@media (prefers-color-scheme: dark) {
				[data-scheme=auto] {
					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky) .header__heading-logo {
						display: block;
					}

					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky) .header__heading-logo--overlay {
						display: none;
					}

					.shopify-section-header.color-background-overlay:not(.shopify-section-header-sticky) .header__heading-logo:only-child {

					}
				}
			}
		{% endif %}
	{% endif %}
{% endstyle %}

{%- for block in section.blocks -%}
  {% liquid
    if block.settings.mobile_image != blank
      assign mobile_image = block.settings.mobile_image
    elsif block.settings.desktop_image != blank
      assign mobile_image = block.settings.desktop_image
    else
      assign mobile_image = blank
    endif

    if block.settings.desktop_image != blank
      assign desktop_image = block.settings.desktop_image
    elsif block.settings.mobile_image != blank
      assign desktop_image = block.settings.mobile_image
    else
      assign desktop_image = blank
    endif

    if section.settings.image_size_mobile != 'adapt' and section.settings.image_size_mobile != 'full'
      assign aspect_ratio_mobile = section.settings.image_size_mobile | split: '/'
      assign temp = aspect_ratio_mobile[0] | append: '.0'
      assign padding_bottom_mobile = aspect_ratio_mobile[1] | divided_by: temp | times: 100 | round: 2 | append: '%'
    elsif section.settings.image_size_mobile == 'adapt'
      if block.settings.video != blank and block.settings.show_video
        assign padding_bottom_mobile = 1 | divided_by: block.settings.video.aspect_ratio | times: 100 | round: 2 | append: '%'
      elsif mobile_image != blank
        assign padding_bottom_mobile = 1 | divided_by: mobile_image.aspect_ratio | times: 100 | round: 2 | append: '%'
      else
        assign padding_bottom_mobile = 0
      endif
		elsif section.settings.image_size_mobile == 'full'
        assign padding_bottom_mobile = 'calc(100vh - var(--announcement-height))'
    else
      assign padding_bottom_mobile = 0
    endif

    if section.settings.image_size != 'adapt' and section.settings.image_size != 'full'
      assign aspect_ratio_desktop = section.settings.image_size | split: '/'
      assign temp = aspect_ratio_desktop[0] | append: '.0'
      assign padding_bottom_desktop = aspect_ratio_desktop[1] | divided_by: temp | times: 100 | round: 2 | append: '%'	
			assign slide_class = section.settings.image_size

    elsif section.settings.image_size == 'adapt'
			assign slide_class = section.settings.image_size

      if block.settings.video != blank and block.settings.show_video
        assign padding_bottom_desktop = 1 | divided_by: block.settings.video.aspect_ratio | times: 100 | round: 2 | append: '%'
      elsif desktop_image != blank
        assign padding_bottom_desktop = 1 | divided_by: desktop_image.aspect_ratio | times: 100 | round: 2 | append: '%'
      else
        assign padding_bottom_desktop = 0
      endif
		
		elsif section.settings.image_size == 'full'
					assign slide_class = section.settings.image_size
        assign padding_bottom_desktop = 'calc(100vh - var(--announcement-height))'

    else
      assign padding_bottom_desktop = 0
    endif
  %}
{%- endfor -%}


{% liquid
	assign slide_effects = section.settings.slide_effects
	assign slideshow_speed = section.settings.slideshow_speed
	assign autoplay = section.settings.is_autoplay
	assign stop_autoplay = section.settings.is_hover_stop_autoplay
	assign slideshow_delay = section.settings.slideshow_delay

	if section.settings.header_overlay == true
		assign has_overlay = true
	else
		assign has_overlay = false
	endif

	if section.settings.header_transparent == true
		assign has_transparent = true
	else
		assign has_transparent = false
	endif
%}
<div
	class="slideshow {{ slide_class }} {% if slide_effects == 'custom' %} slideshow--custom-effect {% endif %}"
	data-id="shopify-section-{{ section.id }}"
	data-autoplay="{{ autoplay }}"
	data-stop-autoplay="{{ stop_autoplay }}"
	data-speed="{{ slideshow_speed }}"
	data-delay="{{ slideshow_delay }}"
	data-effect="{{ slide_effects }}"
	style="--bullet-duration : {{ slideshow_delay }}s"
	{% if has_overlay %}
		data-header-overlay='true'
	{% endif %}
	{% if has_transparent %}
		data-header-transparent='true'
	{% endif %}
	data-header-transparent-color-scheme='color-{{ section.settings.color_scheme_header }}'
	data-header-light-logo='{{ section.settings.light_logo }}'
>
	{% if section.settings.section_layout == "container" %}
		<div class="container">
	{% endif %}
	<div class="slideshow__swiper swiper {% if stop_autoplay %}disable-on-hover{% endif %}">
		<div class="slideshow__wrapper swiper-wrapper">
			{% for block in section.blocks %}
				{% liquid
					assign slide_color = block.settings.color_scheme
				%}
				{% style %}
					[data-id="{{ block.id }}"].slideshow-slide {
						--slide-height : {{ padding_bottom_desktop }};
						--slide-height-mobile : {{ padding_bottom_mobile }};
						{% if block.settings.overlay_enable %}
							--opacity-overlay:{{ block.settings.overlay_opacity }};
							--opacity-overlay-mobile:{{ block.settings.overlay_opacity_mobile }};
						{% else %}
							--opacity-overlay: 0;
							--opacity-overlay-mobile: 0;
						{% endif %}
					}
				{% endstyle %}
					<div class="slideshow-swiper__slide swiper-slide" 
						{% if section.settings.slide_effects == "custom" %}
							style="--number: {{ forloop.index0 }}; --speed: {{ slideshow_speed }}s; {% if forloop.first %} z-index: {{ section.blocks.size }} {% endif %}"
						{% endif %}
					>
						<div class="slideshow-slide slideshow-slide-mobile--{{ section.settings.image_size_mobile }} background color-{{ slide_color }} {% if section.settings.text_position == 'center' %}text-center{% endif %} slideshow-slide-mobile--{{ section.settings.text_position_mobile }}" data-id="{{ block.id }}" data-color-scheme="color-{{ slide_color }}">
							<div class="container">
							<div class="slideshow-slide__img">
								{% liquid
									assign has_block_image = false
									if block.settings.desktop_image != blank or block.settings.mobile_image != blank
										assign has_block_image = true
									endif

									if has_block_image
										if block.settings.mobile_image != blank
											assign mobile_image = block.settings.mobile_image
										else
											assign mobile_image = block.settings.desktop_image
										endif

										if block.settings.desktop_image != blank
											assign desktop_image = block.settings.desktop_image
										else
											assign desktop_image = block.settings.mobile_image
										endif
									endif
								%}

								{%- if has_block_image -%}
									{% liquid
                    if section.settings.full_width
                      assign max_image_desktop_width = '100vw'
                    else
                      assign max_image_desktop_width = '1340px'
                    endif

                    assign fetch_priority = 'auto'
                    assign image_loading = 'lazy'
                    if section.index == 1 and forloop.first
                      assign fetch_priority = 'high'
                      assign image_loading = 'eager'
                    endif

                    assign one_image = false
                    if block.settings.desktop_image != blank and block.settings.mobile_image == blank
                      assign one_image = true
                      assign section_image = block.settings.desktop_image
                    elsif block.settings.desktop_image == blank and block.settings.mobile_image != blank
                      assign one_image = true
                      assign section_image = block.settings.mobile_image
                    endif

                    assign widths = '550, 720, 990, 1200, 1500, 1800, 2200, 2600, 3000, 3200, 3600'
                    assign widths_arr = widths | split: ', '

                    # get mobile calc ratio
                    if section.settings.image_size_mobile != 'adapt' and section.settings.image_size_mobile != 'full'
                      assign aspect_ratio_mobile = section.settings.image_size_mobile | split: '/'
                      assign temp = aspect_ratio_mobile[0] | append: '.0'
                      assign settings_mobile_aspect_ratio = temp | divided_by: aspect_ratio_mobile[1] | round: 2
                    elsif section.settings.image_size_mobile == 'full'
                      assign settings_mobile_aspect_ratio = 0.45
                    else
                      assign settings_mobile_aspect_ratio = mobile_image.aspect_ratio
                    endif

                    assign init_calc_ratio_mobile = 1
                    if mobile_image.width > mobile_image.height
                      assign init_calc_ratio_mobile = 1.4
                    endif

                    assign calc_ratio_mobile = init_calc_ratio_mobile
                    if mobile_image.aspect_ratio > settings_mobile_aspect_ratio
                      assign calc_ratio_mobile_temp = mobile_image.aspect_ratio | divided_by: settings_mobile_aspect_ratio | round: 2
                      assign calc_ratio_mobile = calc_ratio_mobile_temp | times: init_calc_ratio_mobile | round: 2
                    endif

                    # get desktop calc ratio
                    if section.settings.image_size != 'adapt' and section.settings.image_size != 'full'
                      assign aspect_ratio_desktop = section.settings.image_size | split: '/'
                      assign temp = aspect_ratio_mobile[0] | append: '.0'
                      assign settings_desktop_aspect_ratio = temp | divided_by: aspect_ratio_desktop[1] | round: 2
                      assign settings_tablet_aspect_ratio = temp | divided_by: aspect_ratio_desktop[1] | round: 2
                    elsif section.settings.image_size == 'full'
                      assign settings_tablet_aspect_ratio = 0.6
                      assign settings_desktop_aspect_ratio = 1.2
                    else
                      assign settings_tablet_aspect_ratio = desktop_image.aspect_ratio
                      assign settings_desktop_aspect_ratio = desktop_image.aspect_ratio
                    endif

                    assign calc_ratio_tablet = 1
                    if desktop_image.aspect_ratio > settings_tablet_aspect_ratio
                      assign calc_ratio_tablet = desktop_image.aspect_ratio | divided_by: settings_tablet_aspect_ratio | round: 2
                    endif

                    assign calc_ratio_desktop = 1
                    if desktop_image.aspect_ratio > settings_desktop_aspect_ratio
                      assign calc_ratio_desktop = desktop_image.aspect_ratio | divided_by: settings_desktop_aspect_ratio | round: 2
                    endif
                  %}

									{%- capture sizes -%}
                    (min-width: 1440px) calc({{ calc_ratio_desktop }} * {{ max_image_desktop_width }}), (min-width: 1100px) calc({{ calc_ratio_desktop }} * 99vw), (min-width: 990px) calc({{ calc_ratio_desktop }} * 100vw), (min-width: 576px) calc({{ calc_ratio_tablet }} * 100vw), calc({{ calc_ratio_mobile }} * 100vw)
                  {%- endcapture -%}

                  {%- if one_image -%}
                    {%- capture style -%}
                      object-position: {{ section_image.presentation.focal_point }};
                    {%- endcapture -%}
                    {{
                      section_image
                      | image_url: width: section_image.width
                      | image_tag:
                        loading: image_loading,
                        sizes: sizes,
                        widths: widths,
                        style: style,
                        fetchpriority: fetch_priority
                    }}
                  {%- else -%}
                    <picture>
                      <source
                        srcset="{% for width in widths_arr %}{{ block.settings.mobile_image | image_url: width: width }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
                        media="(max-width: 575px)"
                        sizes="{{ sizes }}"
                      >
                      <source
                        srcset="{% for width in widths_arr %}{{ block.settings.desktop_image | image_url: width: width }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
                        media="(min-width: 576px)"
                        sizes="{{ sizes }}"
                      >
                      <img
                        src="{{ block.settings.desktop_image | image_url: width: block.settings.desktop_image.width }}"
                        alt="{{ block.settings.desktop_image.alt }}"
                        width="{{ block.settings.desktop_image.width }}"
                        height="{{ block.settings.desktop_image.height }}"
                        sizes="{{ sizes }}"
                        loading="{{ image_loading }}"
                        fetchpriority="{{ fetch_priority }}"
                        style="--focal_point_desktop: {{ block.settings.desktop_image.presentation.focal_point }}; --focal_point_mobile: {{ block.settings.mobile_image.presentation.focal_point }};"
                      >
                    </picture>
                  {%- endif -%}

								{% elsif block.settings.video != blank %}
									{{
										block.settings.video
										| video_tag:
											image_size: '1100x',
											autoplay: true,
											loop: true,
											controls: false,
											muted: true
									}}
								{% else %}
								{% assign slideshow_index = forloop.index | modulo: 3 | plus: 1 %} 
									{{ 'hero-apparel-' | append: slideshow_index | placeholder_svg_tag: 'placeholder-svg' }} 
								{% endif %}
								{% if block.settings.overlay_enable %}
									<span class='slideshow__overlay'></span>
								{% endif %}
							</div>
							<div class="slideshow-slide__text {% if section.settings.text_position == 'center' %}text-center{% endif %} 
								{% if section.settings.header_overlay %}header-overlay{% endif %} slideshow-slide__text--{{ block.settings.text_width }}
								{% if section.settings.text_animation %} slideshow-slide__text--animation {% endif %}
							">
								{% if block.settings.heading != blank %}
									{% assign tag = section.settings.heading_tag %}
									<{{ tag }} class="slideshow-slide__title {% if section.settings.text_animation %} js-split-text {% endif %}">
										{{ block.settings.heading }}
									</{{ tag }}>
								{% endif %}
								{% if block.settings.text != blank %}
									<div
										class="slideshow-slide__desc richtext__content large-font {% if section.settings.text_animation %} js-fade {% endif %}">
										{{ block.settings.text }}
									</div>
								{% endif %}
								{% if block.settings.button_label %}
									<div class="slideshow__button-wrapper {% if section.settings.text_animation %} js-fade {% endif %}">
										{% render 'button',
											btn_label: block.settings.button_label,
											btn_link: block.settings.button_link,
											btn_style: block.settings.button_style,
											button_dot: block.settings.button_dot,
											add_classes: 'focus-inset'
										%}
									</div>
								{% endif %}
							</div>
						</div>
						{% if section.settings.slide_effects == "custom" %}
							<div class="slideshow-slide__overlay"></div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="slideshow-bottom slider-pagiantion-bullet {% for block in section.blocks %}color-{{ block.settings.color_scheme }}{% break %}{% endfor %}">
			<div class="container {% if section.settings.section_layout == 'container' %}custom-padding{% endif %}">
				<div class="slideshow-bottom__wrapper {% if section.settings.pagination_position == 'center' %}bullets-center{% endif %}">
					<div class="swiper-pagination__wrapper">
						<div class="swiper-pagination swiper-pagination__button {% if section.settings.is_autoplay == false %}not-autoplay{% else %}bullet-autoplay{% endif %}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if section.settings.section_layout == "container" %}
	</div>
	{% endif %}
</div>

{% schema %}
	{
		"name": "t:sections.slideshow.name",
		"tag": "section",
		"class": "slideshow-section spaced-section",
		"enabled_on": {
			"templates": ["*"]
		},
		"settings": [
			{
				"type": "checkbox",
				"id": "header_overlay",
				"label": "t:sections.all.header_overlay.label",
				"default": false
			},
			{
				"type": "checkbox",
				"id": "header_transparent",
				"label": "t:sections.all.header_transparent.label",
				"info": "t:sections.all.header_transparent.info",
				"default": false
			},
			{
				"type": "color_scheme",
				"id": "color_scheme_header",
				"default": "background-3",
				"label": "t:sections.all.color_scheme_header.label"
			},
			{
				"type": "checkbox",
				"id": "light_logo",
				"label": "t:sections.all.light_logo.label",
				"default": true
			},
			{
				"type": "select",
				"id": "section_layout",
				"default": "full",
				"label": "t:sections.slideshow.settings.section_layout.label",
				"options": [
					{
						"value": "full",
						"label": "t:sections.slideshow.settings.section_layout.option__1.label"
					},
					{
						"value": "container",
						"label": "t:sections.slideshow.settings.section_layout.option__2.label"
					}
				]
			},
			{
				"type": "select",
				"id": "text_position",
				"default": "left",
				"label": "t:sections.slideshow.settings.text_position.label",
				"options": [
					{
						"value": "left",
						"label": "t:sections.slideshow.settings.text_position.option__1.label"
					},
					{
						"value": "center",
						"label": "t:sections.slideshow.settings.text_position.option__2.label"
					}
				]
			},
			{
				"type": "select",
				"id": "pagination_position",
				"default": "bottom",
				"label": "t:sections.slideshow.settings.pagination_position.label",
				"options": [
					{
						"value": "bottom",
						"label": "t:sections.slideshow.settings.pagination_position.option__1.label"
					},
					{
						"value": "center",
						"label": "t:sections.slideshow.settings.pagination_position.option__2.label"
					}
				]
			},
			{
				"type": "header",
				"content": "t:sections.all.image.header.content"
			},
			{
				"type": "select",
				"id": "image_size",
				"default": "16/9",
				"label": "t:sections.all.image.aspect_ratio.label",
				"options": [
					{
						"value": "1/1",
						"label": "t:sections.all.image.aspect_ratio.options__1.label"
					},
					{
						"value": "3/2",
						"label": "t:sections.all.image.aspect_ratio.options__2.label"
					},
					{
						"value": "3/4",
						"label": "t:sections.all.image.aspect_ratio.options__3.label"
					},
					{
						"value": "4/3",
						"label": "t:sections.all.image.aspect_ratio.options__4.label"
					},
					{
						"value": "16/9",
						"label": "t:sections.all.image.aspect_ratio.options__5.label"
					},
					{
						"value": "21/9",
						"label": "t:sections.all.image.aspect_ratio.options__6.label"
					},
					{
						"value": "adapt",
						"label": "t:sections.all.image.aspect_ratio.options__7.label"
					},
					{
						"value": "full",
						"label": "t:sections.all.image.aspect_ratio.options__8.label"
					}
				]
			},
			{
				"type": "header",
				"content": "t:sections.all.heading.header.content"
			},
			{
				"type": "select",
				"id": "heading_tag",
				"label": "t:sections.all.heading.tag",
				"options": [
					{
						"value": "h1",
						"label": "H1"
					},
					{
						"value": "h2",
						"label": "H2"
					},
					{
						"value": "h3",
						"label": "H3"
					},
					{
						"value": "h4",
						"label": "H4"
					},
					{
						"value": "h5",
						"label": "H5"
					},
					{
						"value": "h6",
						"label": "H6"
					},
					{
						"value": "div",
						"label": "div"
					},
					{
						"value": "p",
						"label": "p"
					},
					{
						"value": "span",
						"label": "span"
					}
				],
				"default": "h1"
			},
			{
				"type": "header",
				"content": "t:sections.all.mobile_options.header.content"
			},
			{
				"type": "select",
				"id": "image_size_mobile",
				"default": "3/4",
				"label": "t:sections.all.image.aspect_ratio.label",
				"options": [
					{
						"value": "1/1",
						"label": "t:sections.all.image.aspect_ratio.options__1.label"
					},
					{
						"value": "3/2",
						"label": "t:sections.all.image.aspect_ratio.options__2.label"
					},
					{
						"value": "3/4",
						"label": "t:sections.all.image.aspect_ratio.options__3.label"
					},
					{
						"value": "4/3",
						"label": "t:sections.all.image.aspect_ratio.options__4.label"
					},
					{
						"value": "16/9",
						"label": "t:sections.all.image.aspect_ratio.options__5.label"
					},
					{
						"value": "21/9",
						"label": "t:sections.all.image.aspect_ratio.options__6.label"
					},
					{
						"value": "adapt",
						"label": "t:sections.all.image.aspect_ratio.options__7.label"
					},
					{
						"value": "full",
						"label": "t:sections.all.image.aspect_ratio.options__8.label"
					}
				]
			},
			{
				"type": "select",
				"id": "text_position_mobile",
				"default": "bottom-left",
				"label": "t:sections.slideshow.settings.text_position_mobile.label",
				"options": [
					{
						"value": "bottom-left",
						"label": "t:sections.slideshow.settings.text_position_mobile.option__1.label"
					},
					{
						"value": "top-left",
						"label": "t:sections.slideshow.settings.text_position_mobile.option__2.label"
					},
					{
						"value": "top-center",
						"label": "t:sections.slideshow.settings.text_position_mobile.option__3.label"
					}
				]
			},
			{
				"type": "header",
				"content": "t:sections.all.slider_options.header.content"
			},
			{
				"type": "checkbox",
				"id": "is_autoplay",
				"default": true,
				"label": "t:sections.all.slider_options.slider_is_autoplay.label"
			},
			{
				"type": "checkbox",
				"id": "is_hover_stop_autoplay",
				"default": false,
				"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
			},
			{
				"type": "range",
				"id": "slideshow_speed",
				"min": 0,
				"max": 6,
				"step": 0.1,
				"default": 0.8,
				"unit": "s",
				"label": "t:sections.all.slider_options.speed.label"
			},
			{
				"type": "range",
				"id": "slideshow_delay",
				"min": 1,
				"max": 8,
				"step": 0.1,
				"default": 3,
				"unit": "s",
				"label": "t:sections.all.slider_options.delay.label"
			},
			{
				"type": "select",
				"id": "slide_effects",
				"options": [
					{
						"value": "custom",
						"label": "t:sections.all.slider_options.effects.options.options__6.label"
					},
					{
						"value": "slide",
						"label": "t:sections.all.slider_options.effects.options.options__1.label"
					},
					{
						"value": "coverflow",
						"label": "t:sections.all.slider_options.effects.options.options__3.label"
					}
				],
				"default": "custom",
				"label": "t:sections.all.slider_options.effects.label"
			},
			{
				"type": "checkbox",
				"id": "text_animation",
				"default": true,
				"label": "t:sections.slideshow.settings.text_animation.label"
			},
			{
				"type": "header",
				"content": "t:sections.all.section-margin.header.content"
			},
			{
				"type": "select",
				"id": "margin_top",
				"options": [
					{
						"value": "no-indent",
						"label": "t:sections.all.section-margin.options__1.label"
					},
					{
						"value": "xs",
						"label": "t:sections.all.section-margin.options__2.label"
					},
					{
						"value": "s",
						"label": "t:sections.all.section-margin.options__3.label"
					},
					{
						"value": "m",
						"label": "t:sections.all.section-margin.options__4.label"
					},
					{
						"value": "l",
						"label": "t:sections.all.section-margin.options__5.label"
					},
					{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
					}
				],
				"default": "no-indent",
				"label": "t:sections.all.section-margin.margin_top.label"
			},
			{
				"type": "select",
				"id": "margin_bottom",
				"options": [
					{
						"value": "no-indent",
						"label": "t:sections.all.section-margin.options__1.label"
					},
					{
						"value": "xs",
						"label": "t:sections.all.section-margin.options__2.label"
					},
					{
						"value": "s",
						"label": "t:sections.all.section-margin.options__3.label"
					},
					{
						"value": "m",
						"label": "t:sections.all.section-margin.options__4.label"
					},
					{
						"value": "l",
						"label": "t:sections.all.section-margin.options__5.label"
					},
					{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
					}
				],
				"default": "no-indent",
				"label": "t:sections.all.section-margin.margin_bottom.label"
			}
		],
		"blocks": [
			{
				"type": "slideshow_item",
				"name": "t:sections.slideshow.blocks.name",
				"limit": 8,
				"settings": [
					{
						"type": "image_picker",
						"id": "desktop_image",
						"label": "t:sections.all.image.label"
					},
					{
						"type": "image_picker",
						"id": "mobile_image",
						"label": "t:sections.all.mobile_image.label"
					},
					{
						"type": "video",
						"id": "video",
						"label": "t:sections.all.video.label",
						"info": "t:sections.all.video.info"
					},
					{
						"type": "color_scheme",
						"id": "color_scheme",
						"default": "background-1",
						"label": "t:sections.all.color_scheme.label"
					},
					{
						"type": "inline_richtext",
						"id": "heading",
						"label": "t:sections.all.heading.label",
						"default": "t:sections.slideshow.blocks.settings.heading.default"
					},
					{
						"type": "richtext",
						"id": "text",
						"label": "t:sections.all.text.label",
						"default": "t:sections.slideshow.blocks.settings.subheading.default"
					},
					{
						"type": "select",
						"id": "text_width",
						"options": [
							{
								"value": "small",
								"label": "t:sections.slideshow.blocks.settings.text_width.option_1"
							},
							{
								"value": "large",
								"label": "t:sections.slideshow.blocks.settings.text_width.option_2"
							}
						],
						"default": "small",
						"label": "t:sections.slideshow.blocks.settings.text_width.label"
					},
					{
						"type": "header",
						"content": "t:sections.all.button.header_button.content"
					},
					{
						"type": "text",
						"id": "button_label",
						"default": "t:sections.slideshow.blocks.settings.button_label.default",
						"label": "t:sections.all.button.button_label.label",
						"info": "t:sections.all.button.button_label.info"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "t:sections.all.button.button_link.label"
					},
					{
						"type": "checkbox",
						"id": "button_dot",
						"default": true,
						"label": "t:sections.all.button.button_dot.label"
					},
					{
						"type": "select",
						"id": "button_style",
						"options": [
							{
								"value": "primary",
								"label": "t:sections.all.button.button_style.options__1.label"
							},
							{
								"value": "secondary",
								"label": "t:sections.all.button.button_style.options__2.label"
							},
							{
								"value": "tertiary",
								"label": "t:sections.all.button.button_style.options__3.label"
							}
						],
						"default": "primary",
						"label": "t:sections.all.button.button_style.label"
					},
					{
						"type": "header",
						"content": "t:sections.all.overlay.header.content"
					},
					{
						"type": "checkbox",
						"id": "overlay_enable",
						"default": true,
						"label": "t:sections.all.overlay.overlay_enable.label"
					},
					{
						"type": "range",
						"id": "overlay_opacity",
						"min": 0,
						"max": 1,
						"step": 0.1,
						"default": 0,
						"label": "t:sections.all.overlay.overlay_opacity.label"
					},
					{
						"type": "range",
						"id": "overlay_opacity_mobile",
						"min": 0,
						"max": 1,
						"step": 0.1,
						"default": 0,
						"label": "t:sections.all.overlay.overlay_opacity_mobile.label"
					}
				]
			}
		],
		"presets": [
			{
				"name": "t:sections.slideshow.presets.name",
				"blocks": [
					{
						"type": "slideshow_item"
					},
					{
						"type": "slideshow_item"
					},
					{
						"type": "slideshow_item"
					}
				]
			}
		]
	}
{% endschema %}
